.spanblock{
    display: block;
}

.bar {
    height: 18px;
    background: green;
}

.dashboard-highlight{

    .big-header{
        span:nth-of-type(3){
            font-size: 14px;
 
        }

         span:nth-of-type(4){
            color: rgba(74, 74, 74, 0.71);
            font-size: 12px;
 
        }
        
    }

}
.typing_loader{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-animation: typing 1s linear infinite alternate;
       -moz-animation: Typing 1s linear infinite alternate;
            animation: typing 1s linear infinite alternate;
    margin: 46px auto; /* Not necessary- its only for layouting*/
    position: relative;
    left: -12px;
}

.dashboard-highlight-import{
    margin-bottom: 22px;

    button{
        display: block;
        margin: 0 auto;
    }

    span{
        font-size: 13px;
    }
}


.dashboard-detials{
    background-color: rgba(73, 73, 73, 0.04);
    padding: 20px 68px 50px 68px;

    .last-data-import{

        margin-bottom: 36px;

        >span{
            font-size: 14px;
             color: rgba(74, 74, 74, 0.71);
        }

    }

    .external-links{

        .columns{
            margin-bottom: 28px;
        }

        ul{
            list-style: inherit;
            padding-left: 20px;

            >li{
                padding: 10px 0;
                border-bottom: 1px solid rgba(73, 73, 73, 0.22);
                border-bottom-style: dashed;

                span{
                    display: inline-block;

                    &:fist-child{
                        float: left;
                    }
                    
                    &:last-child{
                        float:right;
                    }

                }

            }

           

        }

        .external-links-title{
            margin-bottom: 20px;
        }

        .external-links-services{
            ul li span:last-child{
                 background: url(#{$img-path}/ic_tick.svg) no-repeat left center;
                 background-size: 14px;
                 padding-left: 20px;
            }
        }
    }

}

.excel-upload{
    max-width: 400px;
    margin: 0 auto 36px auto;

     &.importing{
      opacity: 0.4;

      .file-upload-wrapper:hover {
    &:before {
       background: #FFD200;;
        
    }
  }


  }

}

.last-imported {
  font-size: 12px;
}

.excel-upload-done{
    margin-bottom: 16px;
}



.file-upload-wrapper {
  
  position: relative;
  width: 100%;
  height: 60px;

    &.importing{
        opacity: 0.4;

        &:hover{
            &:before{
                background: #FFD200;
            }
        }
            
    }
 
  
  &:after {
    content: attr(data-text);
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 42px;
    line-height: 22px;
    color: $light-grey-color;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
  }
  
  &:before {
    
    
    color: $light-grey-color;
    content: 'Upload';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 42px;
    background: #FFD200;
    z-index: 25;
    font-size: 16px;
    line-height: 42px;
    padding: 0 15px;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
  }
  
  &:hover {
    &:before {
       background: #e5bd00;
        
    }
  }
   .file-upload-field {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 60px - 20px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }


}

.excel-upload-label{
    margin-bottom: 16px;
  span {
    font-size: 14px;
  }
}

.excel-upload-progress{
    font-weight: 600;
}

.excel-upload-error{
    color: #c14d4d;
}

