.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate,.paginate_button{
  color: $darker-grey-color;
}

.dataTables_wrapper .dataTables_filter input{
  margin-left: 0;
}

.dataTables_length{
  float: right;
  font-size: 14px;
  width: auto;
  display: inline-block;
  margin-left: 15px;
  margin-top: 18px;
  label{
    color: $light-grey-color;
    width: auto;
    display: inline-block;
  }

  select{
    color: $light-grey-color;
    width: auto;
    display: inline-block;
    border-radius: 4px;
    border: solid 4px #2B3440;
    margin: 0 0.25rem;
    cursor: pointer;
    background-color: #FFD400;
    padding-right: 20px;
  }
}

.dataTables_filter{
  width: 80%;
  float: left;
  label{
    font-size: 0;
  }

  input{
    float: right;
    width: 100%;
    background: transparent url("#{$img-path}/ic_search-grey.svg") 0 center no-repeat;
    box-shadow: none;
    color: #4A4A4A;
    border: none;
    border-bottom: solid 6px #4A4A4A;
    border-radius: 0;
    padding: 12px 24px 12px 36px;
    height: auto;
    font-size: 1rem;
    margin: 0  0 1.5rem;
    font-size: 1.4375rem;
    line-height: 1.8125rem;
    &:focus,&:active,&:hover{
      border: none;
      border-bottom: solid 6px #4A4A4A;
      box-shadow: none;
      background: transparent url("#{$img-path}/ic_search-grey.svg") 0 center no-repeat;
    }
  }

  input:-moz-placeholder {
    color: #4A4A4A;
    font-family: RobotoCondensed-bold;
  }
  input::-webkit-input-placeholder {
    color: #4A4A4A;
    font-family: RobotoCondensed-bold;
  }

}

.dataTables_wrapper .dataTables_info{
  display: none;
  width: 50%;
  float: left;
  margin-top: 1.5rem;
  padding-left: 20px;
  color: rgba(72, 72, 72, 0.8);
}

.dataTables_wrapper .dataTables_paginate {
  width: auto;
  display: table;
  margin: 1.5rem auto;
}

.paginate_button{
  box-sizing: border-box;
  padding: 5px 6px;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  color: #0046AE;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #5C5C5C !important;
  border: none;
  background: transparent;
}

.dataTables_wrapper .dataTables_paginate {
  .paginate_button:hover{
    background: none;
    color: #484848 !important;
    border: none;
    transform: scale(1.25);
  }

  .paginate_button.next{
    float: right;
  }

  .paginate_button.next:hover{
    transform: scale(1.15);
  }

  .paginate_button.previous:hover{
    transform: scale(1.15);
  }

}

.dataTables_paginate{
  padding-left: 12px;
  padding-right: 12px;
  text-transform: lowercase;
  border: none;
  transition: all 0.1s ease-in-out;
}

.dataTables_wrapper .dataTables_paginate  .paginate_button {
  padding: 5px 6px 8px;
}

/*style for table*/

@media (min-width:768px){
  tfoot,thead,tbody{
    border: none;
    background: transparent;
  }
}



thead {
  background: none;
}

.dataTable{
  width: 100% !important;
}

.table-wrapper{
  margin-bottom: 30px;
  width: 100%;
  //margin-top: 40px;

  .table-wrapper{
    margin-bottom: 0 !important;
  }
}

.custom-table{
  font-size: 14px;
  color: rgba(255,255,255,0.5);
  margin-bottom: 0;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  background: transparent;
  z-index: 5;

  &:before{
    width: 100%;
    height: 100%;
    background: transparent url(#{$img-path}/main_background.svg) center top no-repeat;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -6;
  }

  &:after{
    z-index: -5;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.89;
    height: 100%;
    width: 100%;
    background-color: #0046AE;
  }

  tr{
    z-index: 10;
  }
  /* ------- style for thead -------- */

  thead{
    background: none;
    font-family: RobotoCondensed-bold;
    tr:hover{
      background: none;
    }
    th{
      font-family: inherit;
      color: rgba(255,255,255,0.5);
    }
    tr{
      border-bottom: solid 1px rgba(237,234,255,0.2);
    }
  }

  tr{
    transition: background-color 0.3s ease-in-out;
    border-bottom: solid 1px rgba(237,234,255,0.05);
    &:nth-child(odd){
      background: none;
    }

    &:nth-child(even){
      background: none;
    }
  }

  /* ------- style for thead ends -------- */

  th{
    padding: 15px 10px 15px 15px;
  }

  td{
    padding: 15px 10px;
  }
}

.custom-table.hover tbody{
  tr,tr:nth-of-type(even):hover {
    &:hover {
      transition: background-color 0.3s ease-in-out;
      background-color: rgba(255, 212, 0, 0.4);
    }
  }

}

th{
  &.sorting{
    cursor: pointer;
  }
}

.sorting{
  background: transparent url("#{$img-path}/ic_sort.svg") 4px 22px no-repeat;
}

.sorting_desc{
  background: transparent url("#{$img-path}/ic_desc.svg") 4px 24px no-repeat;
}

.sorting_asc{
  background: transparent url("#{$img-path}/ic_asc.svg") 4px 24px no-repeat;
}

@media (min-width: 40em) {
  th:first-of-type{
    &.sorting{
      background: transparent url("#{$img-path}/ic_sort.svg") 28px 18px no-repeat;
    }

    &.sorting_desc{
      background: transparent url("#{$img-path}/ic_desc.svg") 28px 21px no-repeat;
    }

    &.sorting_asc{
      background: transparent url("#{$img-path}/ic_asc.svg") 28px 21px no-repeat;
    }
  }
}

/*style for fixed th*/

.contract-number{
  width: 160px !important;
}

.long-th{
  width: 150px !important;
}

/* ------- style for overlay while processing --------- */

.dataTables_wrapper{
  position: relative;
}

.dataTables_processing{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  text-indent: -9999px;
  overflow: hidden;
  z-index: 90;
}

/* ------- add faded shadow in scrollable part of table ----------- */

div.scrollable{
  &:after{
      content:"";
      position:absolute;
      top: 0;
      left: 100%;
      width: 50px;
      height: 100%;
      border-radius: 10px 0 0 10px / 50% 0 0 50%;
      box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25);
      content: '';
  }
}

tfoot td, tfoot th, thead td, thead th{
  font-weight: normal;
}
