/*style for persist header for table*/

.floatingHeader {
  position: fixed;
  top: 76px;
  z-index: 66;
  background: #fff;
  width: 100%;
  visibility: hidden;
}

@media (max-width: 768px) {
  .fixedHeader-floating{
    display: none;
  }

  th.sorting{
    background: none;
  }
} 

.fixedHeader-floating{
  position: fixed !important;
  top: 76px !important;
}

.hide.sorting{
  width: 0 !important;
}

.main-title-wrap{
  .floatingHeader {
    top: 82px;
    background: #4a4a4a;
    color: #fff;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
    border: none;
    transform: translateY(-8px);
    transition: visibility 0.8s ease-in-out,transform 0.3s ease-in-out;
  }
}

.pinned{
  background: none;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate, .paginate_button {
  color: $darker-grey-color;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0;
}

.dataTables_length {
  float: right;
  font-size: 14px;
  width: auto;
  display: inline-block;
  margin-left: 15px;
  margin-top: 18px;
  //margin-right: 145px;
  label {
    color: $light-grey-color;
    width: auto;
    display: inline-block;
    margin-bottom: 20px;
  }

  select {
    color: $light-grey-color;
    width: auto;
    display: inline-block;
    border-radius: 4px;
    border: solid 4px #2B3440;
    margin: 0 0.25rem;
    cursor: pointer;
    background-color: #FFD400;
    padding: 6px 20px 6px 8px;
    font-size: 14px;
  }
}


.dataTables_filter{
  width: 70%;
  float: left;

  @media (max-width: 1146px){
    width: calc(100% - 324px);
  }

  label {
    font-size: 0;
    clear: both;
    overflow: hidden;
  }

  input {
    float: right;
    width: 100%;
    background: transparent url("#{$img-path}/ic_search-grey.svg") 0 center no-repeat;
    box-shadow: none;
    color: #4A4A4A;
    border: none;
    border-bottom: solid 6px #4A4A4A;
    border-radius: 0;
    padding: 12px 24px 12px 36px;
    height: auto;
    font-size: 1rem;
    margin: 0 0 1.5rem;
    font-size: 1.4375rem;
    line-height: 1.8125rem;

    &:focus, &:active, &:hover {
      border: none;
      border-bottom: solid 6px #4A4A4A;
      box-shadow: none;
      background: transparent url("#{$img-path}/ic_search-grey.svg") 0 center no-repeat;
    }
  }

  input:-moz-placeholder {
    color: #4A4A4A;
    font-family: RobotoCondensed-bold;
  }
  input::-webkit-input-placeholder {
    color: #4A4A4A;
    font-family: RobotoCondensed-bold;
  }

}

.dataTables_wrapper .dataTables_info {
  display: none;
  width: 50%;
  float: left;
  margin-top: 1.5rem;
  padding-left: 20px;
  color: rgba(72, 72, 72, 0.8);
}

.dataTables_wrapper .dataTables_paginate {
  width: auto;
  display: table;
  margin: 1.5rem auto;
}

.paginate_button {
  box-sizing: border-box;
  padding: 5px 6px;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  color: #0046AE;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #5C5C5C !important;
  border: none;
  background: transparent;
}

.dataTables_wrapper .dataTables_paginate {
  .paginate_button:hover {
    background: none;
    color: #484848 !important;
    border: none;
    transform: scale(1.25);
  }

  .paginate_button.next {
    float: right;
  }

  .paginate_button.next:hover {
    transform: scale(1.15);
  }

  .paginate_button.previous:hover {
    transform: scale(1.15);
  }

}

.dataTables_paginate {
  padding-left: 12px;
  padding-right: 12px;
  text-transform: lowercase;
  border: none;
  transition: all 0.1s ease-in-out;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 5px 6px 8px;
}

tbody, tfoot, thead {
  background: none;
}

/*style for table*/

@media (min-width: 768px) {
  tfoot, thead, tbody {
    border: none;
    background: transparent;
  }
}

thead {
  background: none;
}

/*.dataTable {
  width: 100% !important;
}*/

.table-wrapper {
  margin-bottom: 30px;
  width: 100%;

  .table-wrapper {
    margin-bottom: 0 !important;
  }
}

.custom-table {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  background: url(#{$img-path}/main_background_table.jpg) center top no-repeat;
  background-size: cover;
  z-index: 5;

  /*
  .dt{
    width: 156px !important;
  }

  .tender-id,.tender-status{
    width: 110px !important;
  }
  */

  tr {
    z-index: 10;
    background-color: rgba(0, 70, 174, 0.9);
    transition: all 0.3s ease-in-out;
  }
  /* ------- style for thead -------- */

  thead {
    background: none;
    font-family: RobotoCondensed-bold;
    tr:hover {
      background-color: rgba(0, 70, 174, 0.9);
    }
    th {
      font-family: inherit;
      color: rgba(255, 255, 255, 0.5);
    }
    tr {
      border-bottom: solid 1px rgba(237, 234, 255, 0.2);
    }
  }

  tbody tr {
    transition: background-color 0.3s ease-in-out;
    border-bottom: solid 1px rgba(237, 234, 255, 0.05);
    &:nth-child(odd) {
      background: rgba(0, 70, 174, 0.9);
    }

    &:nth-child(even) {
      background: rgba(0, 70, 174, 0.9);
    }
  }

  /* ------- style for thead ends -------- */

  th {
    padding: 15px 10px 15px 15px;
  }

  td {
    padding: 15px 10px;
  }
}

.custom-table.hover tbody {
  tr, tr:nth-of-type(even):hover {
    &:hover {
      transition: background-color 0.3s ease-in-out;
      color: #fff;
      background: rgba(0, 70, 174, 1);
    }
  }

}

.highlight {
  transition: all 0.3s ease-in-out !important;
  color: #fff !important;
  background: rgba(0, 70, 174, 1) !important;
}

th {
  &.sorting {
    cursor: pointer;
  }
}

@media (max-width: 40em) {
  .sorting {
    background: transparent url("#{$img-path}/ic_sort.svg") 4px 20px no-repeat;
  }

  .sorting_desc {
    background: transparent url("#{$img-path}/ic_desc.svg") 4px 22px no-repeat;
  }

  .sorting_asc {
    background: transparent url("#{$img-path}/ic_asc.svg") 4px 22px no-repeat;
  }

  th:first-of-type {
    &.sorting {
      background: transparent url("#{$img-path}/ic_sort.svg") 8px 20px no-repeat;
    }

    &.sorting_desc {
      background: transparent url("#{$img-path}/ic_desc.svg") 8px 22px no-repeat;
    }

    &.sorting_asc {
      background: transparent url("#{$img-path}/ic_asc.svg") 8px 22px no-repeat;
    }
  }
}

@media (min-width: 40em) {

  .sorting {
    background: transparent url("#{$img-path}/ic_sort.svg") 4px 22px no-repeat;
  }

  .sorting_desc {
    background: transparent url("#{$img-path}/ic_desc.svg") 4px 24px no-repeat;
  }

  .sorting_asc {
    background: transparent url("#{$img-path}/ic_asc.svg") 4px 24px no-repeat;
  }

  th:first-of-type {
    &.sorting {
      background: transparent url("#{$img-path}/ic_sort.svg") 28px 22px no-repeat;
    }

    &.sorting_desc {
      background: transparent url("#{$img-path}/ic_desc.svg") 28px 24px no-repeat;
    }

    &.sorting_asc {
      background: transparent url("#{$img-path}/ic_asc.svg") 28px 24px no-repeat;
    }
  }
}

/*style for fixed th*/

/*
.contract-number{
  width: 160px !important;
}

.long-th{
  width: 150px !important;
}
*/

/* ------- style for overlay while processing --------- */

.dataTables_wrapper {
  position: relative;
  tbody tr {
    //cursor: pointer;
  }
}

.dataTables_processing {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  text-indent: -9999px;
  overflow: hidden;
  z-index: 90;
}

/*style for data not found in datatable*/

.dataTables_empty {
  width: 100%;
  text-align: center;
}

/* ------- add faded shadow in scrollable part of table ----------- */

div.scrollable {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50px;
    height: 100%;
    border-radius: 10px 0 0 10px / 50% 0 0 50%;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25);
    content: '';
  }
}

tfoot td, tfoot th, thead td, thead th {
  font-weight: normal;
}

/*responsive table*/

@media (max-width: 768px) {

  .custom-table {
    background: none;
    border-radius: 4px;
  }

  .table-wrapper .table-wrapper {
    background: url(#{$img-path}/main_background_table.jpg) center top no-repeat;
    background-size: cover;
    border-radius: 4px;
    .custom-table {
      border-radius: 0;
    }
  }

}

/* ------- style for jason table ------- */

#json-table {
  width: 100%;
  overflow: scroll;
}

.jTable {
  width: 100%;
  td, th {
    border: solid 1px #ccc;
  }
}

.main-title-wrap {
  background: transparent !important;
  border-bottom: solid 1px #ccc;
  text-transform: uppercase;
  color: $light-grey-color !important;
}

.main-title {

}

.sub-title {
  //background: red;
}

/* -------- add export section ------------ */

.table-wrapper{
  position: relative;
  .export{
    position: absolute;
    top: -6px;
    right: 0;
    margin-left: 10px;
    background: $link-color-blue;
    overflow: hidden;
    border-radius: 4px;
    color: #fff;
    padding: 10px 10px 10px 36px;
    cursor: pointer;
    z-index: 88;
    transition: all 0.3s ease-in-out;
    &:hover,&:focus,&:active{
      background: $link-hover-color;
    }

    &:before{
      content: "";
      background: transparent url(#{$img-path}/ic_sprite.svg) -152px 0 no-repeat;
      width: 20px;
      height: 20px;
      display: inline-block;
      position: absolute;
      left: 10px;
    }
  }

}

