$deep-blue-color: #0042B1;
$deep-yellow-color: #FFD400;
$grey-yellow-color: #756200;
$dark-grey-yellow-color: #756200;
$light-grey-color: #484848;
$dark-grey-color: #5A5A5A;
$tender-color: #0042B1;
$contract-color: #CE0029;

$font-path: "/../fonts";
$img-path: "/images";

/* ---- common styles ----- */



@font-face {
  font-family: "Ubuntu-regular";
  font-style: normal;
  font-weight: 400;
  src: url("#{$font-path}/Ubuntu-regular.ttf");
}

@font-face {
  font-family: "Ubuntu-light";
  src: url("#{$font-path}/Ubuntu 300.ttf") format("ttf")
}

@font-face {
  font-family: "Ubuntu-bold";
  src: url("#{$font-path}/Ubuntu 700.ttf") format("ttf")
}

@font-face {
  font-family: "MyriadPro-regular";
  src: url("#{$font-path}/MyriadPro-Refular.otf") format("otf")
}

*:focus{
  outline: none;
}

body{
  font-family:  "Ubuntu-regular";
  font-size: 14px;
  color: $light-grey-color;
  background-color: #fff;
}

h2 {
  font-size: 2rem;
  line-height: 2.375rem;
  margin-bottom: 30px;
  color: $light-grey-color;
  //font-family: Ubuntu-bold;
  display: block;

  span {
    font-family: ubunto-regular;
    font-size: 25px;
    line-height: 38px;
    color: rgba(72, 72, 72, 0.4);
    margin-left: 10px;
  }

  @media (max-width: 600px) {
    margin-bottom: 20px;
    //font-size: 18px; effect on big header in detail page
  }
}


@mixin small-title() {
  font-size: 16px;
  color: $light-grey-color;
  font-family: Ubuntu-bold;
}

.block{
  padding: 25px 25px;

  @media (max-width: 600px) {
    padding: 20px 20px;
  }
}

.header-block{
  border-bottom: solid 1px #D5D5D5;

  h2{
    margin-bottom: 0;
  }
}

.name-value-wrap{
  .name{
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 8px;
    color: rgba(72,72,72,0.7);
  }

  .value{
    font-size: 2rem;
    line-height: 2.375rem;
  }
}

