$deep-blue-color: #0042B1;
$link-color-blue: #0046AE;
$link-hover-color: #003179;
$deep-yellow-color: #FFD200;
$grey-yellow-color: #756200;
$dark-grey-yellow-color: #756200;
$light-grey-color: #484848;
$lighter-grey-color: rgba(55,55,55,0.4);
$dark-grey-color: #5A5A5A;
$darker-grey-color: #4A4A4A;
$tender-color: #B8E986;
$contract-color: #50E3C2;
$red-color: #CC092F;
$font-path: "/fonts";
$img-path: "/images";

/* -------- reset --------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ---- common styles ----- */

@font-face {
  font-family: "RobotoCondensed-regular";
  font-style: normal;
  font-weight: 400;
  src: url("#{$font-path}/RobotoCondensed-regular.ttf") format("truetype"),
        url("#{$font-path}/RobotoCondensed-regular.eot") format("eot"),
        url("#{$font-path}/RobotoCondensed-regular.woff") format("wff"),
        url("#{$font-path}/RobotoCondensed-regular.svg") format("svg");
}

@font-face {
  font-family: "RobotoCondensed-bold";
  src: url("#{$font-path}/RobotoCondensed-bold.ttf") format("truetype"),
        url("#{$font-path}/RobotoCondensed-bold.svg") format("svg"),
        url("#{$font-path}/RobotoCondensed-bold.woff") format("woff"),
        url("#{$font-path}/RobotoCondensed-bold-eot") format("eot");
}

@font-face {
  font-family: "MyriadPro-regular";
  src: url("#{$font-path}/MyriadPro-Refular.otf") format("otf")
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: $link-color-blue;
  transition: all 0.2s ease-in-out;

  &:hover{
    color: $link-hover-color;
  }
}

body {
  font-family: 'RobotoCondensed-regular';
  font-size: 1rem;
  line-height: 1.375rem;
  color: $darker-grey-color;
  background-color: #ececec;
}

h2 {
  font-size: 2rem;
  line-height: 2.375rem;
  margin-bottom: 30px;
  color: $light-grey-color;
  display: block;

  span {
    font-family: 'RobotoCondensed-regular';
    font-size: 25px;
    line-height: 38px;
    color: rgba(72, 72, 72, 0.4);
    margin-left: 10px;
  }

  @media (max-width: 600px) {
    margin-bottom: 20px;
    //font-size: 18px; effect on big header in detail page
  }
}

.left-content{
  float: left;
}

.right-content{
  float: right;
}

.header-with-icon {
  span {
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block;
  }
  h2 {
    display: inline-block;
    line-height: 2.375rem;
    vertical-align: bottom;
  }
}

@mixin  big-title(){
  font-size: 2.375rem;
  line-height: 2.75rem;
}

@mixin small-title() {
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: $dark-grey-color;
}

.small-title{
  @include small-title();
}

@mixin inner-title(){
  font-size: 14px;
  line-height: 20px;
  color: rgba(74,74,74,0.7);
}

@mixin anchor(){
  font-size: 1rem;
  line-height: 1.375rem;
  color: $link-color-blue;
  font-family: RobotoCondensed-bold;

  &:hover{
    color: $link-hover-color;
  }
}

.anchor{
  @include anchor();
}

.block {
  padding: 25px 25px;

  @media (max-width: 600px) {
    padding: 20px 20px;
  }

}

.push-up-block.small-push-up-block{
  margin-top: -77px;
}

@media (max-width: 768px) {
  .small-push-up-block{
    .block.columns{
      padding: 40px;
    }
  }
}

@media (max-width: 600px) {
  .small-push-up-block{
    .block.columns{
      padding: 20px;
    }
  }
}

.block-with-margin{
  margin: 0 0 25px;
}

.header-block {
  border-bottom: solid 1px #D5D5D5;

  @media (min-width:39.9375em) {
    padding: 40px;
  }

  h2 {
    margin-bottom: 0;
  }
}

.header-with-bg{
  background: transparent url(#{$img-path}/yellow_background.png) 0 center repeat;
  border: none;
  min-height: 31vh;
  padding: 50px 40px 125px;
  .block{
    padding-top: 38px;
    padding-bottom: 38px;
  }

  h2{
    display: block;
    margin-bottom: 15px;
    text-align: center;
  }

  .row{
    padding: 0 1rem;
  }
}

.small-button{
  padding: 6px 15px;
  border-radius: 16px;
}

.grey-yellow-btn{
  background-color: rgba(237,254,255,0.3);
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto 20px;
  display: table;
  padding: 6px 16px;
  min-width: 215px;
  text-align: center;
}

.name-value-wrap {
  .name {
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 8px;
    color: rgba(72, 72, 72, 0.7);
  }

  .value {
    font-size: 2rem;
    line-height: 2.375rem;
  }
}

.button{
  color: #000;
  padding: 1em 1.429em;
  background: transparent;
  overflow: hidden;
  border-radius: 4px;
  &.yellow-button{
    background-color: #ffd200;
    color: $darker-grey-color;
    &:hover{
      background: #e5bd00;
    }
  }
}

.advance-search-wrap{
  .yellow-button{
    width: 100%;
  }
}


.filled-button{
  padding: 10px 20px;
  background: $deep-yellow-color;
  border-radius: 4px;
}

.buffer-top{
  margin-top: 40px;
}

.push-up-block {
  background-color: #fff;
  border-radius: 4px;
  margin-top: -125px;
  margin-bottom: 3.75em;
  box-shadow: 0px 0px 20px rgba(8, 8, 8, 0.11);

  &.name-value-section{
    margin-top: -80px;
  }

}

.disabled-text{
  padding: 10px 0;
  font-size: 12px;
  line-height: 18px;
  margin-top: -20px;
  color: rgba(74,74,74,0.7);
}

.chart-wrap .disabled-text{

}

/* --------- style for sticky footer ----------- */

html {
  min-height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  height: auto;
  padding: 0 0 92px; /* bottom = footer height */
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 92px;
  width: 100%;
}

//style for modal

.alert {
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  margin-bottom: 15px;

  &.success {
    border: 1px solid #157539;
    background-color: #43AC6A;
  }
  &.error {
    border: 1px solid #881f0e;
    background-color: #F04124;
  }
}

.level-1{
padding-left:30px;
}
.level-2{
padding-left:60px;
}
.level-3{
padding-left:90px;
}
.level-4{
padding-left:120px;
}
.level-5{
padding-left:150px;
}
.level-6{
  padding-left:180px;
}
.level-7{
  padding-left:210px;
}
.level-8{
  padding-left:240px;
}
.level-9{
   padding-left:240px;
}
.level-10{
  padding-left:240px;
}

/*style for share section*/

.share-section{
  .small-title{
    font-size: 16px;
    line-height: 22px;
  }
}

/*.stButton .stLarge{
  border-radius: 50%;
}*/

/*.social-share{
  max-width: 500px;
  overflow: hidden;
  span.text{
    text-indent: -999px;
    &:before{
      content: "";
      background: url(#{img-path}/ic_sprite.svg) -89px -340px no-repeat;
      width: 30px;
      height: 31px;
      top: 0;
    }
  }
}*/


.suscribe-input{
  width: calc(100% - 150px);
  float: left;
  margin-top: 0.5rem;

  :-moz-placeholder {
    color: rgba(72,72,72,0.6);
  }
  ::-webkit-input-placeholder {
    color: rgba(72,72,72,0.6);
  }
}

.form-group .subscribe.form-control {
  margin-top: 0.5rem;
  background: $deep-yellow-color;
  color: #fff;
  padding: 12px 10px 12px 10px;
  max-height: 39px;
  width: 150px;
  float: left;
  border-radius: 0;
  font-size: 16px;
  &:hover, &:focus, &:active {
    background: #e0b900;
  }
}