.name-value-section {
  border-bottom: solid 1px #D5D5D5;
  padding: 30px;
  color: $dark-grey-color;

  &:last-of-type {
    border-bottom: none;
  }

  .each-detail {
    width: calc(100% - 80px);
    float: left;
    margin-top: 6px;
    > div {
      padding: 0;
    }
  }

  .name {
    margin-bottom: 6px;
  }

  .value {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 7px;
    a {
      font-size: inherit;
    }
  }
}

.icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  float: left;
  position: relative;
  text-indent: -999px;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 50px;
  }

  &.contract-signed {
    &:before {
      background: url(#{$img-path}/ic_sprite.svg) -11px -423px no-repeat;
      width: 25px;
      margin-left: -12.5px;
    }
  }

  &.contract-period {
    &:before {
      background: url(#{$img-path}/ic_sprite.svg) -10px -170px no-repeat;
      width: 27px;
      margin-left: -13.5px;
    }
  }

  &.contract-value {
    &:before {
      background: url(#{$img-path}/ic_sprite.svg) 0px -332px no-repeat;
      width: 45px;
      margin-left: -22.5px;
    }
  }

  &.contract-goods-service {
    &:before {
      background: url(#{$img-path}/ic_sprite.svg) -4px 0px no-repeat;
      width: 39px;
      margin-left: -19.5px;
    }
  }

  &.contractor {
    &:before {
      background: url(#{$img-path}/ic_sprite.svg) -2px -501px no-repeat;
      width: 43px;
      margin-left: -21.5px;
    }
  }

  &.relatedtender {
    &:before {
      background: url(#{$img-path}/ic_sprite.svg) -13px -253px no-repeat;
      width: 43px;
      margin-left: -21.5px;
    }
  }

  &.eligibility-criteria {
    &:before {
      background: url(#{$img-path}/ic_sprite.svg) -79px -505px no-repeat;
      width: 49px;
      margin-left: -21.5px;
    }
  }

  &.award-criteria {
    &:before {
      background: url(#{$img-path}/ic_sprite.svg) -79px -421px no-repeat;
      width: 43px;
      margin-left: -21.5px;
    }
  }

  &.procuring-agency {
    &:before {
      background: url(#{$img-path}/ic_sprite.svg) 0px -80px no-repeat;
      width: 47px;
      margin-left: -23.5px;
    }
  }

}

.description-summary {

  .icon {
    margin-left: 10px;
  }

  .icon {

    &.tender-period {
      &:before {
        background: url(#{$img-path}/ic_sprite.svg) -10px -170px no-repeat;
        width: 27px;
        margin-left: -13.5px;
      }
    }

    &.procurement-method {
      &:before {
        background: url(#{$img-path}/ic_sprite.svg) -6px -586px no-repeat;
        width: 36px;
        margin-left: -18px;
      }
    }
  }

}

.chart-section-wrap.push-up-block {
  background: transparent;
  border-radius: 0;
  box-shadow: none;
}

.wide-header {
  .section-header {
    margin-bottom: 25px;
  }

  .chart-section-wrap {
    margin-bottom: 0;
  }

  .each-chart-section {
    box-shadow: none;
    padding: 40px 20px 30px;
    margin-bottom: 0;


    .section-header .inner-title{

      display: inline;
      margin-right: 24px;

      span{
        font-size: 14px;
        line-height: 20px;
        color: rgba(74, 74, 74, 0.7);
      }
    }

  }

  ul.breadcrumbs {
    margin-bottom: 10px;
    p {
      @include inner-title();
      display: block;
      float: right;
    }
  }

  .indicator {
    padding-bottom: 3px;
    border-bottom: solid 2px $deep-yellow-color;
  }

  .indicator.tender {
    border-bottom: solid 2px #B8E986;
  }

  .indicator.contracts {
    border-bottom: solid 2px $contract-color;
  }

}

.header-description {
  padding: 40px 20px 30px;
}

.big-header {
  margin-bottom: 15px;
  .big-title {
    @include big-title();
  }
  .number {
    font-size: 4.5rem;
    line-height: 4.875rem;
    font-family: RobotoCondensed-bold;
  }
  p {
    @include inner-title();
    margin: 0 0 10px;
  }
}

@media (max-width: 1024px) {
  .big-header {
    .number {
      font-size: 3.625rem;
      line-height: 4rem;
    }
  }
}

@media (max-width: 600px) {
  .big-header {
    .number {
      font-size: 3rem;
      line-height: 3.375rem;
    }
  }
}

/*style for custom switch*/

.custom-switch-wrap {
  .small-title {
    float: left;
    padding-top: 8px;
  }
}

.toggle-switch {
  float: right;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 190px;
  height: 40px;
  color: white;
  outline: 0;
  text-decoration: none;
  border-radius: 4px;
  //border: 2px solid #546E7A;
  background-color: $deep-blue-color;
  transition: all 500ms;
  &:active {
    background-color: darken($deep-blue-color, 5%);
  }

  &:after {
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    padding: 3px;
    width: calc(50% - 4px);
    line-height: 45px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.250rem;
    color: $light-grey-color;
    background-color: $deep-yellow-color;
    border: 2px solid;
    transition: all 500ms;
  }

  &:before {
    display: block;
    position: absolute;
    top: 7px;
    bottom: 4px;
    left: 4px;
    padding: 3px;
    width: calc(50% - 4px);
    line-height: 45px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.250rem;
    color: rgba(255, 255, 255, 0.4);
  }
}

.toggle--on {
  &:after {
    content: 'Json View';
    border-radius: 4px;
  }

  &:before {
    content: 'Table View';
    position: absolute;
    right: 3px;
    left: auto;
  }
}

.toggle--off {
  &:after {
    content: 'Table view';
    //border-radius: 5px 50px 50px 5px;
    border-radius: 4px;
    transform: translate(100%, 0);
  }
  &:before {
    content: 'Json View';
    position: absolute;
    left: 3px;
    right: auto;
  }
}

.toggle--moving {
  background-color: darken(#263238, 5%);
  &:after {
    color: transparent;
    border-color: darken(#546E7A, 8%);
    background-color: darken(#37474F, 10%);
    transition: color 0s,
    transform 500ms,
    border-radius 500ms,
    background-color 500ms;
  }
}

.custom-switch-content {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  .active {
    display: block;
  }
}

.table-view {
  display: none;
}

/* ------------- style for expand and collapse section ----------- */

.collapse-btn {
  display: none;
}

.button.collapse-btn, .button.expand-btn {
  position: relative;
  padding: 12px 1rem;
  width: 128px;
  text-align: left;
  &:after {
    position: absolute;
    top: 6px;
    right: 10px;
    height: 8px;
    width: 16px;
    font-size: 20px;
    line-height: 26px;
    transition: all 0.3s ease-in-out;
  }
}

.expand-btn:after {
  content: "+";
}

.collapse-btn {
  &:after {
    content: "-";
  }
}

/* -------------- style for tooltip ------------- */

.contract-info-wrap {
  text-align: center;
  > div {
    display: inline-block;
    margin-left: 10px;
  }
  .detail-info-wrap {
    .detail-anchor {
      margin-bottom: 0;
    }
    height: 30px;
    &:nth-of-type(1), &:nth-of-type(2) {
      .detail-info {
        width: 465px;
      }
    }

    &:nth-of-type(3) {
      .detail-info {
        width: 255px;
      }
    }
  }

}

.detail-info-wrap {
  position: relative;
  width: auto;
  display: table;
  margin: 0 auto;

  .grey-yellow-btn {
    min-width: 100px;
    font-size: 12px;
    line-height: 18px;
    padding: 7px 12px;

  }
  .detail-anchor {
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 20px;
    span {
      font-family: Garamond;
      font-style: italic;
      font-size: 12px;
      line-height: 16px;
      font-weight: bold;
      background: #333;
      color: #eee;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin-right: 6px;
      text-align: center;
    }
  }
}

.detail-info .description span:first-of-type{
  font-family: Garamond;
  font-style: italic;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  background: #333;
  color: #eee;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 6px;
  text-align: center;
}

.contract-info-wrap {
  .detail-info {
    text-align: left;
    padding: 20px;
    .description {
      font-size: 14px;
      line-height: 20px;
      color: #4a4a4a;
      padding-left: 20px;
      margin-bottom: 15px;
    }

    ul {
      margin-left: 10px;
    }

    ul li {
      list-style: none;
      position: relative;
      padding-left: 10px;
      &:before {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        top: 7px;
        left: 0;
        background-color: $deep-yellow-color;
      }
    }

    .name-value-wrap {
      font-size: 12px;
      line-height: 18px;
      border: none !important;
      display: inline-block;
      padding: 0 10px 0 0;
      margin-right: 10px;
      position: relative;
      vertical-align: top;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 18px;
        width: 1px;
        background: rgba(#0046ae, 0.4);
      }

      &:last-of-type {
        &:after {
          background: none;
        }
      }

      .name {
        font-size: 12px;
        line-height: 18px;
        width: auto;
        min-height: 20px;
        text-indent: 0;
        overflow: visible;

      }
      .value {
        width: auto;
        padding-left: 3px;
        font-size: 12px;
        line-height: 18px;

      }

    }

  }
}

.contract-info-wrap {
  .detail-info .name-value-wrap:not(:last-of-type) {
    border-bottom: none;
    margin-bottom: 6px;
  }
  .detail-info {
    top: calc(100% + 15px);
  }
}

.detail-info {
  background: #fff;
  padding: 20px 0;
  border-radius: 4px;
  width: 400px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: calc(100% + 0px);
  z-index: 88;
  left: calc(50% + 50px);
  transform: translateX(-50%);
  transition: all 0.4s cubic-bezier(0.4, 0, 1, 1);

  @media (max-width: 480px) {
    width: 300px !important;
  }

  .name-value-wrap {
    clear: both;
    overflow: hidden;
    padding: 8px 20px;

    &:not(:last-of-type) {
      border-bottom: solid 1px #f5f5f5;
      margin-bottom: 6px;
    }

    .name {
      width: 40px;
      min-height: 30px;
      float: left;
      margin-bottom: 0;
      text-indent: -999px;
      overflow: hidden;
    }

    .value {
      font-size: 16px;
      width: calc(100% - 120px);
      line-height: 22px;
      float: left;
      padding-left: 15px;
    }

  }
}

.scroll-wrap{
  max-height: 400px;
  overflow-y: scroll;
  margin: -20px -20px 0 0;
  padding-top: 20px;
}

/* ---------- add traingle above tooltip ------------- */

.black-listed-show {
  width: 211px;
  height: 81px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.detail-info, .black-listed-show {
  visibility: hidden;
  opacity: 0;
  &:after {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -6px;
    width: 0;
    border-bottom: 10px solid #fff;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
    transform: translateY(12px);
    transition: all 0.3s ease-in-out;
  }
}

//show tooltip when hover in anchor

.detail-info-wrap:hover > .detail-info {
  opacity: 1;
  visibility: visible;
  left: 50%;

  &:after {
    transform: translateY(0px);
  }
}

/* ---------------- place icons for each information in detail section ---------------- */

.detail-info {
  .address {
    background: transparent url(#{$img-path}/ic_sprite.svg) -94px 0 no-repeat;
  }

  .url {
    background: transparent url(#{$img-path}/ic_sprite.svg) -88px -61px no-repeat;
  }

  .phone {
    background: transparent url(#{$img-path}/ic_sprite.svg) -93px -130px no-repeat;
  }

  .email {
    background: transparent url(#{$img-path}/ic_sprite.svg) -90px -190px no-repeat;
  }

  .fax {
    background: transparent url(#{$img-path}/ic_sprite.svg) -85px -250px no-repeat;
  }
}

.btn-view-json {
  padding: 12px 1rem;
  background-color: #E6E0E0;
  border-radius: 4px;
  float: right;
  color: #000;
}

/* ------ style for comment section  ------- */

.laravel-like{
  display: none;
}

.laravelComment{
  h3{
    @extend .small-title;
    margin-bottom: 20px;
    float: none;
  }
}

.comment-section{
  @extend .block;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px rgba(8, 8, 8, 0.11);

  .ui.laravelComment-form{
    max-width: 650px;
  }

}


.ui.comments{
  max-width: 100% !important;
}

.row .ui.comments > .comment{
  margin-left: -25px;
  margin-right: -25px;
  padding-left: 25px;
  padding-right: 25px;

  &:not(:last-child){
    border-bottom: solid 1px #d5d5d5 !important;
  }
}

.ui.threaded.comments .comment .comments {
  box-shadow: none !important;
}

.ui.comments .comment .avatar img, .ui.comments .comment img.avatar{
  border-radius: 50% !important;
}

.ui.comments .comment a.author{
  color: #484848;
  margin-bottom: 6px;
  display: inline-block;
  font-size: 20px;
  line-height: 26px;
  font-weight: normal;
}

.ui.comments .comment .text{
  color: #5a5a5a;
}

.comment-section{

  .ui.laravelComment-form:not(:first-of-type){
    margin-top: 20px;
  }

  .ui.laravelComment-form{
    margin-top: 20px;
  }

  .ui.threaded.comments .comment .comments {
    margin: 20px 0 1px 1.25em;
    padding: 0px 0 0 2.25em;
  }
}

.row .ui.basic.button{
    color: #000 !important;
    padding: 1em 1.429em !important;
    overflow: hidden !important;
    border-radius: 4px !important;
    background-color: #ffd200 !important;
    color: $darker-grey-color;
    box-shadow: none;
    &:hover {
      background: #e5bd00 !important;
      box-shadow: none !important;
    }
}

.flag-icon-red, .flag-icon-green, .balance-icon, .info-icon {
  padding-left: 40px !important;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 12px;
    width: 16px;
    height: 32px;
  }
}

.info-icon:before {
  content: 'i';
  font-family: Garamond;
  font-style: italic;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  background: #333;
  color: #eee;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 6px;
  text-align: center;
}


.flag-icon-red:before {
  background:transparent url(#{$img-path}/ic_sprite.svg) -2px -685px no-repeat;
}

.flag-icon-green:before {
  background:transparent url(#{$img-path}/ic_sprite.svg) -2px -721px no-repeat;
}

.balance-icon:before {
  width: 20px;
  background:transparent url(#{$img-path}/ic_sprite.svg) -45px -686px no-repeat;
}

.detail-info{
  .flag-icon-red, .flag-icon-green, .balance-icon {
    padding-left: 30px !important;
  }

}

.description {
  &.flag-icon-red:before,&.flag-icon-green:before, &.balance-icon:before {
    left: 0px;
    top: -10px;

  }
  >span{
    margin-left: -20px;
  }
}

.court-case-link{
  color: rgba(255,255,255,0.5);
}
.court-case-link:hover{
  color: rgba(255,255,255,1);
}
.court-case-dropdown:after{
  padding-left: 5px;
  content: url(#{$img-path}/ic_arrow_down-blue.svg);
  cursor: pointer;
}

.court-case-upArrow:after{
  margin-left: 5px;
  content: url(#{$img-path}/ic_arrow_down-blue.svg);
  display: inline-block;
  transform: rotate(-180deg);
  cursor: pointer;
}

.court-case-list{
  background: #fcfaf1;
  margin: 0 -25px;
  display: none;
  padding: 25px;

  ul{
    list-style: inherit;
    margin: 20px 0px 0px 24px;

    .spanblock{
      display: block;
    }
  }
}
.court-text{
  font-size: 15px;
}