.name-value-section{
  border-bottom: solid 1px #D5D5D5;
  padding: 30px;
  color: $dark-grey-color;

  &:last-of-type{
    border-bottom: none;
  }

  .icon{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    float: left;
    text-indent: -999px;
    overflow: hidden;

    &.contract-signed{
      background: url(#{$img-path}/ic_signed.svg) center center no-repeat;
    }

    &.contract-period{
      background: url(#{$img-path}/ic_period.svg) center center no-repeat;
    }

    &.contract-value{
      background: url(#{$img-path}/ic_value.svg) center center no-repeat;
    }

    &.contract-goods-service{
      background: url(#{$img-path}/ic_good_service.svg) center center no-repeat;
    }

    &.contractor{
      background: url(#{$img-path}/ic_contractor.svg) center center no-repeat;
    }

    &.relatedtender{
      background: url(#{$img-path}/ic_tender.svg) center center no-repeat;
    }

    &.procuring-agency{
      background: url(#{$img-path}/ic_agency.svg) center center no-repeat;
    }

  }

  .each-detail{
    width: calc(100% - 80px);
    float: left;
    margin-top: 6px;
    >div{
      padding: 0;
    }
  }


  .name{
    margin-bottom: 6px;
  }

  .value{
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 7px;
    a{
      font-size: inherit;
    }
  }
}

.description-summary{

  .icon{
    margin-left: 10px;
  }

  .icon{

    &.tender-period{
      background: url(#{$img-path}/ic_period.svg) center center no-repeat;
    }

    &.procurement-method{
      background: url(#{$img-path}/ic_method.svg) center center no-repeat;
    }
  }

}

.chart-section-wrap.push-up-block{
  background: transparent;
  border-radius: 0;
  box-shadow: none;
}

/*.push-up-block{
  .name-value-wrap{
    .name{
      font-size: 28px;
      line-height: 36px;
    }

    .value{
      font-size: 45px;
      line-height: 52px;
    }
  }
}*/

.wide-header{
  .section-header{
    margin-bottom: 25px;
  }

  .chart-section-wrap{
    margin-bottom: 0;
  }

  .each-chart-section{
    box-shadow: none;
    padding: 40px 20px 30px;
    margin-bottom: 0;
  }

  ul.breadcrumbs{
    margin-bottom: 10px;
     p{
       @include inner-title();
       display: block;
       float: right;
     }
  }

  .indicator{
   padding-bottom: 3px;
    border-bottom: solid 2px $deep-yellow-color;
  }

  .indicator.tender{
    border-bottom: solid 2px #B8E986;
  }

  .indicator.contracts{
    border-bottom: solid 2px $contract-color;
  }

}

.header-description{
  padding: 40px 20px 30px;
}

.big-header{
  margin-bottom: 15px;
  .big-title{
    @include big-title();
  }
  .number{
    font-size: 4.5rem;
    line-height: 4.875rem;
    font-family: RobotoCondensed-bold;
  }
  p{
    @include inner-title();
    margin: 0 0 10px;
  }
}

@media (max-width: 1024px) {
  .big-header {
    .number {
      font-size: 3.625rem;
      line-height: 4rem;
    }
  }
}

@media (max-width: 600px) {
  .big-header {
    .number {
      font-size: 3rem;
      line-height: 3.375rem;
    }
  }
}

/*style for switch*/

/*
.switch{
  float: right;
}

.switch.large .switch-paddle{
  width: 134px;
  background: #2199e8;
}

.switch-active{
  left: 10px;
}

.switch-inactive{
  right: 10px;
}

.switch.large input:checked~.switch-paddle:after{
  left: 97px
}
*/

.toggle-switch {
  float: right;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 190px;
  height: 40px;
  color: white;
  outline: 0;
  text-decoration: none;
  border-radius: 4px;
  //border: 2px solid #546E7A;
  background-color: $deep-blue-color;
  transition: all 500ms;
  &:active {
    background-color: darken($deep-blue-color, 5%);
  }
  /*&:hover:not(.toggle--moving) {
    &:after {
      background-color: lighten($deep-blue-color, 5%);
    }
  }*/
  &:after {
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    padding: 3px;
    width: calc(50% - 4px);
    line-height: 45px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.250rem;
    color: $light-grey-color;
    background-color: $deep-yellow-color;
    border: 2px solid;
    transition: all 500ms;
  }

  &:before{
    display: block;
    position: absolute;
    top: 7px;
    bottom: 4px;
    left: 4px;
    padding: 3px;
    width: calc(50% - 4px);
    line-height: 45px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.250rem;
    color: rgba(255,255,255,0.4);
  }
}
.toggle--on {
  &:after {
    content: 'Json View';
    //border-radius: 50px 5px 5px 50px;
    border-radius: 4px;
  }

  &:before{
    content: 'Table View';
    position: absolute;
    right: 3px;
    left: auto;
  }
}
.toggle--off {
  &:after {
    content: 'Table view';
    //border-radius: 5px 50px 50px 5px;
    border-radius: 4px;
    transform: translate(100%, 0);
  }
  &:before{
    content: 'Json View';
    position: absolute;
    left: 3px;
    right: auto;
  }
}
.toggle--moving {
  background-color: darken(#263238, 5%);
  &:after {
    color: transparent;
    border-color: darken(#546E7A, 8%);
    background-color: darken(#37474F, 10%);
    transition: color 0s,
    transform 500ms,
    border-radius 500ms,
    background-color 500ms;
  }
}

.toggle--on + .custom-switch-content .json-view{
  display: block;
}

.toggle--on + .custom-switch-content .table-view{
  display: none;
}

.toggle--off + .custom-switch-content .json-view{
  display: none;
}

.toggle--off + .custom-switch-content .table-view{
  display: block;
}



.custom-switch-content{
  margin-top: 60px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  .active{
    display: block;
  }
}

.table-view{
  display: none;
}

