.name-value-section{
  border-bottom: solid 1px #D5D5D5;
  padding: 30px;
  color: $dark-grey-color;

  &:last-of-type{
    border-bottom: none;
  }

  .each-detail{
    width: calc(100% - 80px);
    float: left;
    margin-top: 6px;
    >div{
      padding: 0;
    }
  }


  .name{
    margin-bottom: 6px;
  }

  .value{
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 7px;
    a{
      font-size: inherit;
    }
  }
}

.icon{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  float: left;
  position: relative;
  text-indent: -999px;
  overflow: hidden;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 50px;
  }

  &.contract-signed{
    &:before{
      background: url(#{$img-path}/ic_sprite.svg) -11px -423px no-repeat;
      width: 25px;
      margin-left: -12.5px;
    }
  }

  &.contract-period{
    &:before{
      background: url(#{$img-path}/ic_sprite.svg) -10px -170px no-repeat;
      width: 27px;
      margin-left: -13.5px;
    }
  }

  &.contract-value{
    &:before{
      background: url(#{$img-path}/ic_sprite.svg) 0px -338px no-repeat;
      width: 45px;
      margin-left: -22.5px;
    }
  }

  &.contract-goods-service{
    &:before{
      background: url(#{$img-path}/ic_sprite.svg) -4px 0px no-repeat;
      width: 39px;
      margin-left: -19.5px;
    }
  }

  &.contractor{
    &:before{
      background: url(#{$img-path}/ic_sprite.svg) -2px -508px no-repeat;
      width: 43px;
      margin-left: -21.5px;
    }
  }

  &.relatedtender{
    &:before{
      background: url(#{$img-path}/ic_sprite.svg) -13px -253px no-repeat;
      width: 43px;
      margin-left: -21.5px;
    }
  }

  &.procuring-agency{
    &:before{
      background: url(#{$img-path}/ic_sprite.svg) 0px -85px no-repeat;
      width: 47px;
      margin-left: -23.5px;
    }
  }

}

.description-summary{

  .icon{
    margin-left: 10px;
  }

  .icon{

    &.tender-period{
      &:before{
        background: url(#{$img-path}/ic_sprite.svg) -10px -170px no-repeat;
        width: 27px;
        margin-left: -13.5px;
      }
    }

    &.procurement-method{
      &:before{
        background: url(#{$img-path}/ic_sprite.svg) -6px -591px no-repeat;
        width: 36px;
        margin-left: -18px;
      }
    }
  }

}

.chart-section-wrap.push-up-block{
  background: transparent;
  border-radius: 0;
  box-shadow: none;
}

/*.push-up-block{
  .name-value-wrap{
    .name{
      font-size: 28px;
      line-height: 36px;
    }

    .value{
      font-size: 45px;
      line-height: 52px;
    }
  }
}*/

.wide-header{
  .section-header{
    margin-bottom: 25px;
  }

  .chart-section-wrap{
    margin-bottom: 0;
  }

  .each-chart-section{
    box-shadow: none;
    padding: 40px 20px 30px;
    margin-bottom: 0;
  }

  ul.breadcrumbs{
    margin-bottom: 10px;
     p{
       @include inner-title();
       display: block;
       float: right;
     }
  }

  .indicator{
   padding-bottom: 3px;
    border-bottom: solid 2px $deep-yellow-color;
  }

  .indicator.tender{
    border-bottom: solid 2px #B8E986;
  }

  .indicator.contracts{
    border-bottom: solid 2px $contract-color;
  }

}

.header-description{
  padding: 40px 20px 30px;
}

.big-header{
  margin-bottom: 15px;
  .big-title{
    @include big-title();
  }
  .number{
    font-size: 4.5rem;
    line-height: 4.875rem;
    font-family: RobotoCondensed-bold;
  }
  p{
    @include inner-title();
    margin: 0 0 10px;
  }
}

@media (max-width: 1024px) {
  .big-header {
    .number {
      font-size: 3.625rem;
      line-height: 4rem;
    }
  }
}

@media (max-width: 600px) {
  .big-header {
    .number {
      font-size: 3rem;
      line-height: 3.375rem;
    }
  }
}

/*style for custom switch*/

.custom-switch-wrap{
  .small-title{
    float: left;
    padding-top: 8px;
  }
}

.toggle-switch {
  float: right;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 190px;
  height: 40px;
  color: white;
  outline: 0;
  text-decoration: none;
  border-radius: 4px;
  //border: 2px solid #546E7A;
  background-color: $deep-blue-color;
  transition: all 500ms;
  &:active {
    background-color: darken($deep-blue-color, 5%);
  }

  &:after {
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    padding: 3px;
    width: calc(50% - 4px);
    line-height: 45px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.250rem;
    color: $light-grey-color;
    background-color: $deep-yellow-color;
    border: 2px solid;
    transition: all 500ms;
  }

  &:before{
    display: block;
    position: absolute;
    top: 7px;
    bottom: 4px;
    left: 4px;
    padding: 3px;
    width: calc(50% - 4px);
    line-height: 45px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.250rem;
    color: rgba(255,255,255,0.4);
  }
}
.toggle--on {
  &:after {
    content: 'Json View';
    border-radius: 4px;
  }

  &:before{
    content: 'Table View';
    position: absolute;
    right: 3px;
    left: auto;
  }
}
.toggle--off {
  &:after {
    content: 'Table view';
    //border-radius: 5px 50px 50px 5px;
    border-radius: 4px;
    transform: translate(100%, 0);
  }
  &:before{
    content: 'Json View';
    position: absolute;
    left: 3px;
    right: auto;
  }
}
.toggle--moving {
  background-color: darken(#263238, 5%);
  &:after {
    color: transparent;
    border-color: darken(#546E7A, 8%);
    background-color: darken(#37474F, 10%);
    transition: color 0s,
    transform 500ms,
    border-radius 500ms,
    background-color 500ms;
  }
}

.custom-switch-content{
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  .active{
    display: block;
  }
}

.table-view{
  display: none;
}

/* ------------- style for expand and collapse section ----------- */

.collapse-btn{
  display: none;
}

.button.collapse-btn,.button.expand-btn{
  position: relative;
  padding: 12px  1rem;
  width: 128px;
  text-align: left;
  &:after{
    position: absolute;
    top: 6px;
    right: 10px;
    height: 8px;
    width: 16px;
    font-size: 20px;
    line-height: 26px;
    transition: all 0.3s ease-in-out;
  }
}

.expand-btn:after {
  content: "+";
}

.collapse-btn{
  &:after{
    content: "-";
  }
}

/* -------------- style for tooltip ------------- */

.detail-info-wrap{
  position: relative;
  width: auto;
  display: table;
  margin: 0 auto;
  min-width: 215px;

  .detail-anchor{
    cursor: pointer;
    text-align: center;
    margin-bottom: 0;
    span{
      font-family: Garamond;
      font-style: italic;
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      background: #333;
      color: #eee;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-right: 6px;
    }
  }
}

.detail-info{
  background: #fff;
  padding: 20px 0;
  border-radius: 4px;
  width: 400px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: calc(100% + 15px);
  left: 50%;
  z-index: 88;
  margin-left: -150px;
  transition: all 0.4s cubic-bezier(0.4, 0, 1, 1);

  @media (max-width: 480px) {
    width: 300px;
    margin-left: -90px;
  }

  .name-value-wrap{
    clear: both;
    overflow: hidden;
    padding: 8px 20px;

    &:not(:last-of-type){
      border-bottom: solid 1px #f5f5f5;
      margin-bottom: 6px;
    }

    .name{
      width: 40px;
      min-height: 30px;
      float: left;
      margin-bottom: 0;
      text-indent: -999px;
      overflow: hidden;
    }

    .value{
      font-size: 16px;
      width: calc(100% - 120px);
      line-height: 22px;
      float: left;
      padding-left: 15px;
    }

  }

}

/* ---------- add traingle above tooltip ------------- */

.detail-info{
  visibility: hidden;
  opacity: 0;
  &:after {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -6px;
    width: 0;
    border-bottom: 10px solid #fff;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
    transform: translateY(12px);
    transition: all 0.3s ease-in-out;
  }
}

//show tooltip when hover in anchor

.detail-info-wrap:hover  .detail-info{
  opacity: 1;
  visibility: visible;
  margin-left: -200px;

  &:after{
    transform: translateY(0px);
  }
  @media (max-width: 480px) {
    margin-left: -150px;
  }
}

/* ---------------- place icons for each information in detail section ---------------- */

.detail-info{
  .address{
    background: transparent url(#{$img-path}/ic_sprite.svg) -94px 0 no-repeat;
  }

  .url{
    background: transparent url(#{$img-path}/ic_sprite.svg) -88px -61px no-repeat;
  }

  .phone{
    background: transparent url(#{$img-path}/ic_sprite.svg) -93px -130px  no-repeat;
  }

  .email{
    background: transparent url(#{$img-path}/ic_sprite.svg) -90px -190px   no-repeat;
  }

  .fax{
    background: transparent url(#{$img-path}/ic_sprite.svg) -85px -250px  no-repeat;
  }
}
.btn-view-json {
  padding: 12px 1rem;
  background-color: #E6E0E0;
  border-radius: 4px;
  float: right;
  color: #000;
}

/* ------ style for comment section  ------- */

.laravel-like{
  display: none;
}

.laravelComment{
  h3{
    @extend .small-title;
    margin-bottom: 20px;
    float: none;
  }
}

.comment-section{
  @extend .block;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px rgba(8, 8, 8, 0.11);

  .ui.laravelComment-form{
    max-width: 650px;
  }

}


.ui.comments{
  max-width: 100% !important;
}

.row .ui.comments > .comment{
  margin-left: -25px;
  margin-right: -25px;
  padding-left: 25px;
  padding-right: 25px;

  &:not(:last-child){
    border-bottom: solid 1px #d5d5d5 !important;
  }
}

.ui.threaded.comments .comment .comments {
  box-shadow: none !important;
}

.ui.comments .comment .avatar img, .ui.comments .comment img.avatar{
  border-radius: 50% !important;
}

.ui.comments .comment a.author{
  color: #484848;
  margin-bottom: 6px;
  display: inline-block;
  font-size: 20px;
  line-height: 26px;
  font-weight: normal;
}

.ui.comments .comment .text{
  color: #5a5a5a;
}

.comment-section{

  .ui.laravelComment-form:not(:first-of-type){
    margin-top: 20px;
  }

  .ui.laravelComment-form{
    margin-top: 20px;
  }

  .ui.threaded.comments .comment .comments {
    margin: 20px 0 1px 1.25em;
    padding: 0px 0 0 2.25em;
  }
}

.row .ui.basic.button{
    color: #000 !important;
    padding: 1em 1.429em !important;
    overflow: hidden !important;
    border-radius: 4px !important;
    background-color: #ffd200 !important;
    color: $darker-grey-color;
    box-shadow: none;
    &:hover {
      background: #e5bd00 !important;
      box-shadow: none !important;
    }
}

