/*
.header-with-bg{
  .left-content{
    width: 80%;
  }
}
*/

.name-value-section{
  border-bottom: solid 1px #D5D5D5;
  padding: 30px;
  color: $dark-grey-color;

  &.end{
    border-bottom: none;
  }

  .icon{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    float: left;
    text-indent: -999px;
    overflow: hidden;

    &.contract-signed{
      background: url(#{$img-path}/ic_contract-signed.png) center right no-repeat;
    }

    &.contract-period{
      background: url(#{$img-path}/ic_contract-period.png) center right no-repeat;
    }

    &.contract-value{
      background: url(#{$img-path}/ic_contract-value.png) center right no-repeat;
    }

    &.contract-goods-service{
      background: url(#{$img-path}/ic_goods-sevice.png) center right no-repeat;
    }

    &.contractor{
      background: url(#{$img-path}/ic_contractor.png) center right no-repeat;
    }

    &.relatedtender{
      background: url(#{$img-path}/ic_relatedtender.png) center right no-repeat;
    }

    &.procuring-agency{
      background: url(#{$img-path}/ic_procuring-agency.png) center right no-repeat;
    }

  }

  .each-detail{
    width: calc(100% - 60px);
    float: left;
    >div{
      padding: 0;
    }
  }


  .name{
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(72,72,72,0.7);
  }

  .value{
    font-size: 18px;
  }
}

.description-summary{
  //margin-bottom: 20px;
  background-color: #f7f7f7;

  .icon{
    margin-left: 10px;
  }
  
  .name-value-section{
    border: none;
  }

  .value{
    font-size: 14px;
    line-height: 20px;
  }

  .icon{
    width: 30px;
    height: 30px;

    &.procuring-agency{
      background: url(#{$img-path}/ic_procuring-agency-small.png) center right no-repeat;
    }

    &.tender-period{
      background: url(#{$img-path}/ic_procuring-period-small.png) center right no-repeat;
    }

    &.procurement-method{
      background: url(#{$img-path}/ic_procurement-method-small.png) center right no-repeat;
    }
  }

  .each-detail{
    margin-top: 6px;
  }
}

#status{
  button{
    margin-top: 10px;
  }
}
