.header-banner{
  background: transparent url(#{$img-path}/main_background.png) center top no-repeat;
  background-size: cover;
  color: #fff;
  border-bottom: solid 2.125rem #FFD200;
  margin-bottom: 28px;

  header.top-bar{
    background: transparent;
    transition: all 0.3s ease-in-out;
  }
}

.header-banner{
  .fixed-header.add-background{
    background-color: $deep-blue-color !important;
  }
}


.header-banner ~ .main-content{
  padding-top: 0;
}

.callout.banner-section{
  background: transparent;
  margin: 13.88em 20px 8.75em 20px;
  border: none;
}

.banner-text{
  font-size: 2.375rem;
  line-height: 2.75rem;
  color: #fff;
  font-family: RobotoCondensed-bold;
}

.banner-inner{
  position: relative;
}

/* ------- style for search form --------- */

.search-form{
  position: absolute;
  right: 0;
  bottom: 0;

  input[type=text],
  input[type=password] {
    box-sizing : border-box;
  }

  input {
    outline: none;
  }
  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none;
  }

  input[type=search]{

  }

  input[type=search]{
    background: transparent;
    border: none;
    border-bottom: solid 4px #fff;
    padding: 1.5rem 2.25rem;
    width: 100%;
    box-sizing : border-box;
    transition: all .5s;
    box-shadow: none;
    height: auto;
    font-size: 1.438rem;
    line-height: 1.813rem;
    padding: 12px 0;
    color: #fff;
    font-family: RobotoCondensed-bold;
  }

  input[type=search]:focus,
  input[type=search]:active,input[type=search]:hover{

  }

  input:-moz-placeholder {
    color: rgba(255,255,255,0.3);
  }
  input::-webkit-input-placeholder {
    color: rgba(255,255,255,0.3);
  }

}


/*style for chart container*/

.each-chart-section{
  padding: 30px 20px 25px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 18px;
  box-shadow: 0px 0px 20px rgba(8,8,8,0.11);
  .section-header{
    h3{
      @include  small-title();
      margin-bottom: 25px;
    }
  }

  .chart-wrap {
    margin-bottom: 15px;

    .filter-section{
      margin-right: -20px;
      margin-left: -20px;
      background-color: #F5F5F5;
      padding: 12px 20px;
      clear: both;
      overflow: hidden;
      margin-bottom: 25px;

      label span{
        margin-right: 6px;
        vertical-align: middle;
        @include inner-title();
      }

    }

    //style for anchor section

    .anchor{
      margin-top: 25px;
      span{
        vertical-align: middle;
      }

      &:hover{
        span{
          //margin-left: 6px;
        }
      }

    }

  }
}

/*style for empty chart section*/

.each-chart-section.empty{
  position: relative;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    border-radius: 4px;

  }

  &:after{
    content: "No data";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #1B1414;
    font-size: 22px;
  }
}

.chart-wrap,.section-header{
  select{
    width: 145px;
    margin-bottom: 0;
    border: solid 2px #2B3440;
    border-radius: 22px;
    padding: 4px 15px;
    @include inner-title();
    color: #fff;
    height: auto;
    font-weight: normal;
    font-family: 'RobotoCondensed-regular';
    display: inline-block;
    background: $darker-grey-color url(#{$img-path}/ic_dropdown.svg) right 15px center no-repeat;
    cursor: pointer;
  }
}

@media screen and (min-width: 40em){
  .chart-section-wrap .inner-wrap > div{
    clear: both;
    overflow: hidden;

      .columns:nth-child(even){
        padding: 0 0 0 9px;
      }

      .columns:nth-child(odd){
        padding: 0 9px 0 0;
      }

  }
}

.section-header{
  @include small-title();
}

/* -------- style for chart section ----------- */

.chart-section-wrap{
  margin-bottom: 50px;

  ul.breadcrumbs{
      margin-bottom: 0;
  }

  .breadcrumbs{
    li:not(:last-child)::after{
      content: none;
    }

    li{
      @include small-title();
      text-transform: capitalize;
      margin-bottom: 25px;
    }
  }
}


.indicator{
  color: $dark-grey-color;
  position: relative;
  color: $dark-grey-color;

  &.tender{
    border-bottom: solid 5px $tender-color;
  }

  &.contracts{
    border-bottom: solid 5px $contract-color;
  }

}


