.callout.banner-section{
  background-color: $deep-yellow-color;
  padding: 6.25rem 20px 4.688rem 20px;
  margin: 0;
}

.banner-inner{
  max-width: 600px;
  margin: 0 auto;
}

.banner-text{
  font-size: 2rem;
  line-height: 2.375rem;
  color: $grey-yellow-color;
  margin-bottom: 35px;

  .amount{
    font-size: 2.688rem;
    line-height: 3.125rem;
    color: #897400;
  }
}

/* ------- style for search form --------- */

.search-form{
  input[type=text],
  input[type=password] {
    box-sizing : border-box;
  }

  input {
    outline: none;
  }
  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none;
  }

  input[type=search],input[type=search]:focus,input[type=search]:active,input[type=search]:hover {
    background: rgba(255,255,255,0.3);
    border: none;
    padding: 1.5rem 2.25rem;
    width: 100%;
    box-sizing : border-box;
    transition: all .5s;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.50);
    border-radius: 3.125rem;
    height: auto;
  }

  input:-moz-placeholder {
    color: #756200;
  }
  input::-webkit-input-placeholder {
    color: #756200;
  }

}


/*style for chart container*/

.each-chart-section{
  //min-height: 300px;
  padding: 45px 45px 25px;
  background: #f7f7f7;
  .section-header{
    h3{
      width: calc(100% - 145px);
      float: left;
      @include  small-title();
      margin-bottom: 25px;
    }

    .right-section{
      width: 145px;
      select{
        margin-bottom: 0;
        border-radius: 15px;
        border: solid 1px #484848;
        padding: 4px 12px;
        font-size: 14px;
        line-height: 20px;
        color: #484848;
        color: $light-grey-color;
        height: auto;
        font-weight: normal;
        font-family: ubunto-regular;
      }
    }
  }

  .chart-wrap {
    //min-height: 150px;
  }
}

.chart-section-wrap{
  .inner-wrap{
    &:nth-child(odd){
      .each-chart-section:nth-child(odd){
        background: #F1F1F1;
      }
    }

    @media (min-width: 40em) {
      &:nth-child(even){
        .each-chart-section:nth-child(even) {
          background: #F1F1F1;
        }
      }
    }

    @media (max-width: 40em) {
      &:nth-child(even){
        .each-chart-section:nth-child(odd){
          background: #F1F1F1;
        }
      }
    }

  }
}

.section-header{
  @include small-title();
}

/* -------- style for chart section ----------- */

.chart-section-wrap{
  margin-bottom: 50px;

  ul.breadcrumbs{
      margin-bottom: 0;
  }

  .breadcrumbs{
    li:not(:last-child)::after{
      content: none;
    }

    li{
      @include small-title();
      text-transform: capitalize;
      margin-bottom: 25px;
    }
  }
}


.indicator{
  color: $dark-grey-color;
  position: relative;
  padding-left: 10px;
  color: $dark-grey-color;
  margin-right: 15px;
  &:before{
    content: " ";
    position: absolute;
    top: 6px;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
}

.tender{
  &:before{
    background-color: $tender-color;
  }
}

.contracts{
  &:before{
    background-color: $contract-color;
  }
}

