.header-banner {
  background: transparent url(#{$img-path}/main_background.jpg) center top no-repeat;
  background-size: cover;
  color: #fff;
  border-bottom: solid 2.125rem #FFD200;
  margin-bottom: 28px;

  header.top-bar {
    background: transparent;
  }
}

.header-banner {
  .fixed-header.add-background {
    background-color: $deep-blue-color !important;
  }
}

.header-banner ~ .main-content {
  padding-top: 0 !important;
}

.language-select {
  display: inline-block;
  width: 84px;
  font-size: 12px;
  line-height: 18px;
  border-radius: 4px;
  padding: 6px 10px;
  height: auto;
  vertical-align: middle;
}

.callout.banner-section {
  background: transparent;
  margin: 13.88em 20px 8.75em 20px;
  border: none;
}

.banner-text {
  font-size: 2.375rem;
  line-height: 2.75rem;
  color: #fff;
  font-family: RobotoCondensed-bold;
}

.banner-inner {
  position: relative;
}

/* ------- style for search form --------- */

.search-form {
  input[type=text],
  input[type=password] {
    box-sizing: border-box;
  }

  input {
    outline: none;
  }
  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none;
  }

  input[type=search] {

  }

  input[type=search] {
    background: transparent;
    border: none;
    border-bottom: solid 4px #fff;
    padding: 1.5rem 2.25rem;
    width: 100%;
    box-sizing: border-box;
    transition: all .5s;
    box-shadow: none;
    height: auto;
    font-size: 1.438rem;
    line-height: 1.813rem;
    padding: 12px 0;
    color: #fff;
    font-family: RobotoCondensed-bold;
    text-overflow: ellipsis;
  }

  input[type=search]:focus,
  input[type=search]:active, input[type=search]:hover {

  }

}

.multiple-search-wrap,
.search-form,
.top-bar .search {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.4);
  }

  ::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.4);
  }

  :-ms-input-placeholder { /* IE 10+ */
    color: rgba(255, 255, 255, 0.4);
  }

  :-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.4);
  }

}

/*style for chart container*/

.each-chart-section {
  padding: 30px 20px 25px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 18px;
  box-shadow: 0px 0px 20px rgba(8, 8, 8, 0.11);
  .section-header {

    height:70px;

    &.section-header-home{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    &.section-header-services{
      background-color: whitesmoke;
      padding: 12px 10px;
      height: auto;
    }


    h3 {
      @include small-title();
      //margin-bottom: 25px;
    }
    .icon.procuring-agency:before {
      background: url(/images/ic_sprite.svg) -1px -84px no-repeat;
      width: 47px;
      margin-left: -23.5px;
    }
    .icon.contractor:before {
      background: url(/images/ic_sprite.svg) -2px -508px no-repeat;
      width: 47px;
      margin-left: -23.5px;
    }
    .icon.goods-service:before {
      background: url(/images/ic_sprite.svg) -4px 4px no-repeat;
      width: 47px;
      margin-left: -23.5px;
    }
  }

  .chart-wrap {
    margin-bottom: 15px;
    min-height: 200px;

    .filter-section {
      margin-right: -20px;
      margin-left: -20px;
      background-color: #F5F5F5;
      padding: 12px 20px;
      clear: both;
      overflow: hidden;
      margin-bottom: 25px;

      label span {
        margin-right: 6px;
        vertical-align: middle;

        &.inner-title {
          margin-right: 24px;
        }

        @include inner-title();
      }

    }

    //style for anchor section

    .anchor {
      margin-top: 25px;
      span {
        vertical-align: middle;
      }

      &:hover {
        span {
          //margin-left: 6px;
        }
      }

    }

  }
}

.each-chart-section {
  position: relative;
  .loader-text {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-left: -20px;
    .text {
      text-align: center;
      font-size: 22px;
      line-height: 28px;
      color: rgba(72, 72, 72, 0.4);
    }

    span {
      position: absolute;
      bottom: 10px;
      margin-left: 6px;
    }
  }

  .default-view {

    &.chart-wrap .disabled-text, .filter-section {
      visibility: hidden;
      opacity: 0;
    }

    #linechart-homepage, #header-linechart,
    #barChart-homepage, #barChart-procuring, #barChart-contractors, #barChart-goods,
    #barChart-amount {
      width: 100%;
      min-width: 100%;
      min-height: 300px;
      position: relative;
    }

    #linechart-homepage, #header-linechart, #linechart-rest {
      background: url(#{$img-path}/greyscale_lineChart.svg) 0 0 no-repeat;

    }

    &.default-barChart {
      background: url(#{$img-path}/greyscale_barChart.svg) 0 0 no-repeat;
    }

    #barChart-homepage, &.header-chart #barChart-contractors, &.header-chart #barChart-goods,
    &.header-chart #barChart-amount, &.header-chart #barChart-procuring {
      background: url(#{$img-path}/greyscale_barChart.svg) 0 0 no-repeat;
    }

  }
}

/*style for empty chart section*/

.each-chart-section.empty {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;

  }

  &:after {
    content: "No data";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #1B1414;
    font-size: 22px;
  }
}

.chart-wrap, .section-header {
  select {
    width: 145px;
    margin-bottom: 0;
    border: solid 2px #2B3440;
    border-radius: 22px;
    padding: 4px 15px;
    @include inner-title();
    color: #fff;
    height: auto;
    font-weight: normal;
    font-family: 'RobotoCondensed-regular';
    display: inline-block;
    background: $darker-grey-color url(#{$img-path}/ic_dropdown.svg) right 15px center no-repeat;
    cursor: pointer;
  }
}

@media screen and (min-width: 40em) {
  .chart-section-wrap .inner-wrap > div {
    clear: both;
    overflow: hidden;

    .columns:nth-child(even) {
      padding: 0 0 0 9px;
    }

    .columns:nth-child(odd) {
      padding: 0 9px 0 0;
    }

  }
}

.section-header {
  @include small-title();
}

/* -------- style for chart section ----------- */

.chart-section-wrap {
  margin-bottom: 50px;

  ul.breadcrumbs {
    margin-bottom: 0;
  }

  .breadcrumbs {
    li:not(:last-child)::after {
      content: none;
    }

    li {
      @include small-title();
      text-transform: capitalize;
      margin-bottom: 25px;
    }
  }
}

.indicator {
  color: $dark-grey-color;
  position: relative;
  color: $dark-grey-color;

  &.tender {
    border-bottom: solid 5px $tender-color;
  }

  &.contracts {
    border-bottom: solid 5px $contract-color;
  }

}

.one-pager .share-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 0 30px;

  @media (max-width: 650px) {
    padding: 0 20px;
  }
}

.json-link-wrap {

  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    float: left;
    margin-bottom: 0;
  }

}

.download-json-link {
  color: #5A5A5A;
  font-size: 18px;
  &:before {
    content: "";
    background: transparent url(/images/ic_download.svg) no-repeat;
    width: 30px;
    height: 20px;
    display: inline-block;
    left: 10px;
  }

}

//.refresh-info-date {
//  display: block;
//  font-size: 18px;
//  color: #5A5A5A;
//
//  @media screen and (min-width: 768px){
//    display: inline;
//    margin-left: 325px;
//  }
//}

.refresh-info-date {
  display: block;
  font-size: 14px;
  line-height: 15px;
  padding: 8px 0;
}

.social-share {
  //margin: 10px auto;
  overflow: hidden;

  li {
    float: left;
    display: inline-block;
    margin-top: 5px;
    &:first-child {
      margin-top: 0;
      margin-right: 15px;
    }

  }
  @media (min-width: 768px) {
    float: right;
  }
  .at-icon-wrapper {
    border-radius: 4px;
  }

  .small-title {
    color: #4A4A4A;
    font-size: 1.5rem;
    height: auto;
    font-weight: bold;
    vertical-align: middle;
    line-height: 2.8125rem;
  }

}

/*style for language selector*/

html[lang='md'] {
    .menu-wrap {
    font-size: 14px;
    line-height: 20px;
  }

  .top-bar-right .menu > li:not(.menu-text) > a {
    padding: 24px .2rem !important;
  }
}

.menu-wrap {
  @media (min-width: 1270px) {
    position: relative;
    float: left;
  }
}

.top-bar-right .menu {
  float: left;
}

.language-selector {
  float: left;
  margin-left: 10px;

  @media (max-width: 1270px) {
    float: none;
    margin-left: 0;
    position: absolute;
    right: 50px;
    top: 0;
  }
}

#Language-select {
  border-radius: 4px;
  width: 90px;
  background: rgba(255, 255, 255, 0.2) url(#{$img-path}/ic-down-triangle.svg) no-repeat;
  background-position: right 8px top 17px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 6px;
  position: relative;

  option {
    color: #5A5A5A;
    display: block;
    padding: 10px 20px 10px 26px;
    position: relative;
  }
}


