.burger-menu-button{
  z-index: 9999;
  position: fixed;
  top: 0;
  z-index: 9999;
  right: 20px;
  background: transparent;
  padding: 0;
  display: none;
}

header{
  z-index: 8888;
  &.top-bar{
    background-color: #0042B1;
  }
}

.fixed-header{
  position: fixed;
  width: 100%;
  top: 0;
}

.project-logo{
  text-transform: uppercase;
  margin: 0.5rem 1rem;;
  //margin: 0.25rem 1rem;
  display: block;
  .first-section{
    color: #fff;
  }

  .second-section{
    color: rgba(255,255,255,0.5);
  }
}

.main-content{
  z-index: 1;
  padding-top: 76px;
}

@media (max-width: 40em){
  .main-content {
    padding-top: 61px;
  }
}

@media (min-width: 768px) {
  .top-bar-right {

    .menu {
      display: block !important;
      background: none;
      margin-top: -0.5rem;
      margin-bottom: -0.5rem;

      li {
        margin-left: 2px;
        display: inline-block;
      }
    }

    .menu > li:not(.menu-text) > a {
      padding: 24px 0.5rem;
    }

    li a {
      color: rgba(255, 255, 255, 0.5);
      border-top: solid 4px transparent;

      &:hover {
        border-top: solid 4px $deep-yellow-color;
      }

      &.active {
        color: #fff;
        border-top: solid 4px $deep-yellow-color;
      }

    }
  }
}

@media (min-width: 40em){
  .menu > li:not(.menu-text) > a {
    padding: 15px 0.8rem;
    transition: all 0.3s ease-in-out;
  }
}

@media (min-width: 60em) {
  .menu > li:not(.menu-text) > a {
    padding: 18px 1.5rem;
  }
}




/*style for burger menu*/

.burger-menu {
  position: relative;
  height: 58px;
  //width: 50px;
  width: 36px;
  cursor: pointer;
  padding: 0;
}
.burger {
  position: absolute;
  background: #fff;
  width: 30px;
  height: 3px;
  top: 27px;
  //right: 9px;
  right: 0;
  opacity: 1;
}
.burger::before {
  position: absolute;
  background: #fff;
  width: 30px;
  height: 3px;
  top: 10px;
  content: "";
  display: block;
}
.burger::after {
  position: absolute;
  background: #fff;
  width: 30px;
  height: 3px;
  bottom: 10px;
  content: "";
  display: block;
}
.burger::after, .burger::before, .burger {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.burger-menu.menu-on .burger::after{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  bottom: 0px;
}
.burger-menu.menu-on .burger::before{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 0px;
}
.burger-menu.menu-on .burger{
  background: rgba(111,111,111,.0);
}

footer{
  background-color: $light-grey-color;
  padding: 25px 30px;
  .top-bar-right{
    .first-section{

    }

    .second-section{
      color: rgba(255,255,255,0.5);
    }
  }
}

