.one-pager #main-content{
  height: 100%;
  min-height: calc(100vh - 92px);
  overflow-y: scroll;
  background: transparent url(#{$img-path}/main_background.jpg) center top no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .social-share{
    .small-title{
      color: #fff;
    }
  }
}

body.one-pager {
  min-height: 100vh;
  width: 100vw;
  color: #fff;

  .top-bar.fixed-header {
    background: none;
  }

  .inner-wrap-static {
    margin-bottom: 80px;
  }

  .title {
    @include small-title();
  }

  p {
    margin: 0 0 10px;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .inner-wrap-static {
    a {
      text-shadow: 0px 1px 0px #000;
    }

  }

  h2 {
    color: #fff;
  }

  .download-json-link {
    color: #FFFFFF;
  }

}

/* ------- separate each section in about page ------- */

.section-wrap{
  margin-bottom: 30px;
}

.about-page{
  h2{
    margin-bottom: 15px;
  }
}

@media (min-width: 1024px){
  .one-pager{
    .inner-wrap-static{
      width: 960px;
      margin: 80px auto 40px auto;
    }
  }
}

@media (max-width: 768px) {
  .one-pager{
    .inner-wrap-static{
      margin: 20px 0;
    }
  }
}

//about page
 body.one-pager .about-page .inner-wrap-static a {
   color: #FFFFFF;
   text-decoration: underline;
   text-shadow: none;
}

 p.disabled{
   font-size: 14px !important;
   color: #aaa;
 }
