@media (max-width: 1260px) {
  body:not(.one-pager) .main-content,.alert{
    //margin-left: 20px;
    //margin-right: 20px;
  }

  .alert{
    //width: calc(100% - 40px);
  }

  .one-pager .main-content{
     padding-left: 20px;
     padding-right: 20px;
  }

  .header-with-bg{
    //margin-left: -20px;
    //margin-right: -20px;
  }

}

@media (max-width: 75rem) {
  header .login-bar,
  header .main-menu-wrap{
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width:39.9375em) {
  html {
    font-size: 87.5%;
  }

  /* ----------- detail page each section responsive ------------- */

  .name-value-section{
    border-bottom: none;
    padding: 0;

    .each-detail-wrap.columns,
    .each-detail-wrap.column{
      padding: 20px 20px;
      border-bottom: solid 1px #D5D5D5;
    }

    &:last-of-type{
      .each-detail-wrap:last-of-type{
        border-bottom: none;
      }
    }
  }

}

@media (max-width: 1270px){
  /* ---------- navigation responsive --------- */

  .desktop-view{
    display: none;
  }

  .mobile-view{
    display: block;
  }

  .burger-menu-button {
    display: block;
  }

  .top-bar-right{
    float: none;
  }

  #main-menu {
    .menu {
      display: none;
      clear: both;
      overflow: hidden;
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      top: calc(100% + 0.5em);
      text-align: center;
      background-color: #005AF5;;

      li {
        display: block;
        float: left;
        width: 49.5%;

        &:nth-child(even){
          margin-left: 1px;
        }

        a {
          padding: 1.5rem 1rem;
          color: #fff;
          margin-bottom: 1px;

          &:hover,&.active {
            background: #004BCC;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
/* -----  responsive of banner section --------- */

  .callout.banner-section{
    margin: 113px 20px 40px;
    padding: 0;
  }

  .banner-text,.multiple-search-wrap {
    display: block;
    width: 100%;
    float: none;
    position: relative;
  }

  .banner-text{
    margin-bottom: 25px;
  }

  /* -------- tab responsive -------- */

  .tabs-title a{
    width: 286px;
  }

  /*responive of chart section*/

  .chart-section-wrap .inner-wrap{
    .medium-6{
      width: 100%;
      float: none;
    }
  }

  .section-header,.chart-wrap{
    height:auto !important;
  }

}


@media (max-width: 775px){
  .table-with-tab{
    background: transparent;
    padding: 0;

    .table-wrapper{
      margin-top: 0;
    }

  }

  .tabs{
    display: none;
  }
}


/*space between container and divs reduction for small screen*/

@media (max-width: 768px){
  .banner-section,.chart-section-wrap,.push-up-block {
    .columns,.column{
      padding: 0;
    }
  }

  .advance-search-wrap .columns{
    padding-left: .625rem;
    padding-right: .625rem;
  }

  .chart-section-wrap .inner-wrap > div .columns:nth-child(odd),
  .chart-section-wrap .inner-wrap > div .columns:nth-child(even){
    padding: 0;
  }

  .project-logo{
    margin: 0.5rem 0rem;
  }

  .chart-section-wrap{
    margin-bottom: 10px;
  }

  .header-with-bg{
    min-height: 0;
  }

  .push-up-block{
    .header-description,.each-chart-section{
      padding: 20px;
    }

    .wide-header .section-header{
      margin-bottom: 0;
    }
  }

}

@media (max-width: 945px) {

  /* ---------  header banner responsive ----------- */

  .banner-text{
    font-size: 2rem;
    line-height: 2.375rem;
  }

  .search-form input[type=search]{
    font-size: 1.1rem;
    line-height: 1.438rem;
  }
}


@media only screen and (max-width: 767px){
  div.table-wrapper {
    border-right: none;
  }
}

@media (min-width:40em) {
  .table-wrapper {
    tr td:first-of-type {
      padding-left: 40px;
    }

    tr td:last-of-type {
      padding-right: 40px;
    }
  }

  .persist-header {
    tr th:first-of-type {
      padding-left: 40px;
    }

    tr th:last-of-type {
      padding-right: 40px;
    }
  }
}

@media (max-width:40em){
  .each-chart-section{
    padding: 20px 20px;

    .chart-wrap{
      margin-bottom: 10px;
    }
  }

  .tabs{
    padding: 0 20px;
  }

  /*responsive for table*/

  .table-wrapper{
    tr td:first-of-type{
      padding-left: 20px;
    }

    tr td:last-of-type{
      padding-right: 20px;
    }

    .dataTables_filter{
      padding: 0;
    }

  }

  .persist-header{
    tr th:first-of-type{
      padding-left: 20px;
    }

    tr th:last-of-type{
      padding-right: 20px;
    }
  }

  /* ------- responsive for header -------- */

  .header-block{
    #left-header{
      width: 100% !important;
      margin-bottom: 20px;
      float: none;
    }

    #status{
      float: none;
      button{
        margin-top: 0;
      }
    }
  }

 /* add margin bottom for button in advance search */
  .advance-search-wrap{
    .yellow-button{
      margin-bottom: 20px;
    }
  }

}

@media (min-width: 768px) and (max-width: 950px){
  .chart-wrap select{
    &:last-child{
      margin-left: 165px;
      margin-top: 6px;
    }
  }

  .chart-wrap select{
    &#select-contractor{
      margin-left: 123px;
    }
  }

  .chart-wrap select{
    &#select-goods{
      margin-left: 151px;
    }
  }
}



@media (max-width: 768px) {
  .dataTables_length{
    display: none;
  }
  .dataTables_filter{
    width: calc(100% - 152px);
    input{
      float: none;
      width: 100%;
    }
  }

  .table-wrapper .export{
    display: block;
    width: auto;
    max-width: 145px;
    float: right;
    position: relative;
    margin-bottom: 15px;
    top: 0;
  }

  .chart-wrap select{
    &:first-child{
      max-width: 90px;
    }
  }

}

@media (max-width: 480px){
  .table-wrapper .export{
    display: none;
  }

  .dataTables_filter{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    input{
      float: none;
      width: 100%;
    }
  }

  .filter-section{
    .inner-title{
      display: block;
      margin-bottom: 6px;
    }
  }

  .chart-wrap select{
    padding: 4px 10px;
    min-width: 90px;
    margin-bottom: 6px;
    width: 48%;
    max-width: 48% !important;
    border-radius: 0;
    border: none;
    background: #4A4A4C url(/images/ic_dropdown.svg) right 10px center no-repeat;
  }

}

@media (max-width: 320px){
  .chart-wrap select{
    width: 100%;
    max-width: 100% !important;
  }
}

@media (max-width: 390px){
  .burger-menu-button{
    top: -5px;
  }

  #Language-select{
    width: 42px;
  }

  .language-selector{
    right: 40px;
  }

  #main-menu .search{
    right: 90px;
  }

  .social-share{
    float: none;

    li:first-child{
      display: block;
      float: none;
      text-align: left;
    }
  }

}

