.table-with-tab{
  margin-bottom: 25px;
}

.tabs{
  background: none;
  padding: 0;
}

.tabs-panel{
  padding: 0;
  .table-wrapper{
    //margin-top: 25px;
  }
}

.tabs, .tabs-content {
  border: none;
  background: none;
}


.tabs-title{
  span{
    display: inline-block;
    vertical-align: middle;
  }
  a{
    @include small-title();
    font-family: RobotoCondensed-bold;
    padding: 12px 1.75rem;
    transition: all 0.3s ease-in-out;
    margin-bottom: 15px;
  }
}


.tabs-title>a:hover{

}

.tabs-title > a[aria-selected="false"]{
  border-bottom: solid 6px rgba(0,70,174,0.3);
  color: rgba(72,72,72,0.5);
  background: none;
}

.tabs-title > a[aria-selected="true"]{
  background: none;
  border-bottom: solid 6px $link-color-blue;
}

/*.tab-indicator{
  margin-right: 8px;
  background: $red-color;
  font-size: 14px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  padding-top: 6px;
}

.tabs-content{
  .title{
    @include small-title();
    margin-bottom: 15px;
  }
}

@media (min-width:700px) {
  .tabs-content{
    .title{
      display: none;
    }
  }
}

@media (max-width: 700px){
  .tabs-panel{
    padding: 0;
  }
  .tabs-content{
    margin-top: 20px;

    .title{
      padding: 0 40px;
    }
  }
}

@media (max-width: 40em) {
  .tabs-content .title{
    padding: 0 20px;
  }
}*/

