.table-with-tab{
  margin-bottom: 25px;
}

.tabs{
  background: none;
  padding: 0;
}

.tabs-panel{
  padding: 0;
}

.tabs, .tabs-content {
  border: none;
  background: none;
}


.tabs-title,.tabs-content .title-section{
  span{
    display: inline-block;
    vertical-align: middle;
  }
  a,.title{
    @include small-title();
    font-family: RobotoCondensed-bold;
    padding: 12px 1.75rem;
    transition: all 0.3s ease-in-out;
    margin-bottom: 15px;
  }
}

.tabs-title > a[aria-selected="false"]{
  border-bottom: solid 6px rgba(0,70,174,0.3);
  color: rgba(72,72,72,0.5);
  background: none;
}

.tabs-title > a[aria-selected="true"]{
  background: none;
  border-bottom: solid 6px $link-color-blue;
}

.tabs-content .title-section .title{
  border-bottom: solid 3px $link-color-blue;
  padding-left: 0;
}

@media (min-width:775px) {
  .tabs-content{
    .title-section{
      display: none;
    }
  }
}


@media (max-width: 900px) {
  .tabs-title a{
    font-size: 1.250rem;
    line-height: 1.625rem;
    padding: 12px 15px;
  }
}

@media (max-width: 775px){
  .tabs-panel{
    padding: 0;
  }

  .tabs-content{
    margin-top: 20px;

    .table-wrapper .export{
      top: 14px;
    }
  }

}

@media (max-width: 520px){
  .tabs-content{
    .title-section .title{
      font-size: 18px;
      line-height: 24px;
      padding: 12px;
    }
  }
}

