/* ---- common styles ----- */
@font-face {
  font-family: "Ubuntu-regular";
  font-style: normal;
  font-weight: 400;
  src: url("/../fonts/Ubuntu-regular.ttf"); }

@font-face {
  font-family: "Ubuntu-light";
  src: url("/../fonts/Ubuntu 300.ttf") format("ttf"); }

@font-face {
  font-family: "Ubuntu-bold";
  src: url("/../fonts/Ubuntu 700.ttf") format("ttf"); }

@font-face {
  font-family: "MyriadPro-regular";
  src: url("/../fonts/MyriadPro-Refular.otf") format("otf"); }

*:focus {
  outline: none; }

body {
  font-family: "Ubuntu-regular";
  font-size: 14px;
  color: #484848;
  background-color: #fff; }

h2 {
  font-size: 2rem;
  line-height: 2.375rem;
  margin-bottom: 30px;
  color: #484848;
  display: block; }
  h2 span {
    font-family: ubunto-regular;
    font-size: 25px;
    line-height: 38px;
    color: rgba(72, 72, 72, 0.4);
    margin-left: 10px; }
  @media (max-width: 600px) {
    h2 {
      margin-bottom: 20px; } }

.block {
  padding: 25px 25px; }
  @media (max-width: 600px) {
    .block {
      padding: 20px 20px; } }

.header-block {
  border-bottom: solid 1px #D5D5D5; }
  .header-block h2 {
    margin-bottom: 0; }

.name-value-wrap .name {
  font-size: 17px;
  line-height: 21px;
  margin-bottom: 8px;
  color: rgba(72, 72, 72, 0.7); }

.name-value-wrap .value {
  font-size: 2rem;
  line-height: 2.375rem; }

/*style for table*/
@media (min-width: 768px) {
  tfoot, thead, tbody {
    border: none; } }

.custom-table {
  font-size: 14px;
  color: #484848;
  margin-bottom: 30px;
  width: 100%; }
  .custom-table tr th {
    font-family: Ubuntu-bold;
    border-bottom: solid 1px #d8d8d8; }
  .custom-table tr:nth-child(even) {
    background: none; }
  .custom-table tr:nth-child(odd):not(:first-of-type) {
    background: #f7f7f7; }

.burger-menu-button {
  z-index: 9999;
  position: fixed;
  top: 0;
  z-index: 9999;
  right: 20px;
  background: transparent;
  padding: 0;
  display: none; }

header {
  z-index: 8888; }
  header.top-bar {
    background-color: #0042B1;
    border-bottom: solid 7px #FFD400; }

.fixed-header {
  position: fixed;
  width: 100%; }

.project-logo {
  text-transform: uppercase;
  margin-left: 1rem; }
  .project-logo .first-section {
    color: #fff; }
  .project-logo .second-section {
    color: rgba(255, 255, 255, 0.5); }

.main-content {
  z-index: 1;
  padding-top: 58px; }

@media (min-width: 40em) {
  .top-bar-right .menu {
    display: block !important;
    background: none;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem; }
    .top-bar-right .menu li {
      margin-left: 2px;
      display: inline-block; }
  .top-bar-right .menu > li:not(.menu-text) > a {
    padding: 18px 1rem .7rem; }
  .top-bar-right li a {
    color: rgba(255, 255, 255, 0.5);
    border-top: solid 4px transparent; }
    .top-bar-right li a:hover {
      border-top: solid 4px #FFD400; }
    .top-bar-right li a.active {
      color: #fff;
      border-top: solid 4px #FFD400; } }

/*style for burger menu*/
.burger-menu {
  position: relative;
  height: 58px;
  width: 50px;
  cursor: pointer;
  padding: 0; }

.burger {
  position: absolute;
  background: #fff;
  width: 30px;
  height: 3px;
  top: 27px;
  right: 9px;
  opacity: 1; }

.burger::before {
  position: absolute;
  background: #fff;
  width: 30px;
  height: 3px;
  top: 10px;
  content: "";
  display: block; }

.burger::after {
  position: absolute;
  background: #fff;
  width: 30px;
  height: 3px;
  bottom: 10px;
  content: "";
  display: block; }

.burger::after, .burger::before, .burger {
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out; }

.burger-menu.menu-on .burger::after {
  -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  bottom: 0px; }

.burger-menu.menu-on .burger::before {
  -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 0px; }

.burger-menu.menu-on .burger {
  background: rgba(111, 111, 111, 0); }

footer {
  background-color: #484848;
  padding: 25px 30px; }
  footer .top-bar-right .second-section {
    color: rgba(255, 255, 255, 0.5); }

.callout.banner-section {
  background-color: #FFD400;
  padding: 6.25rem 20px 4.688rem 20px;
  margin: 0; }

.banner-inner {
  max-width: 600px;
  margin: 0 auto; }

.banner-text {
  font-size: 2rem;
  line-height: 2.375rem;
  color: #756200;
  margin-bottom: 35px; }
  .banner-text .amount {
    font-size: 2.688rem;
    line-height: 3.125rem;
    color: #897400; }

/* ------- style for search form --------- */
.search-form input[type=text],
.search-form input[type=password] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.search-form input {
  outline: none; }

.search-form input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%; }

.search-form input::-webkit-search-decoration,
.search-form input::-webkit-search-cancel-button {
  display: none; }

.search-form input[type=search], .search-form input[type=search]:focus, .search-form input[type=search]:active, .search-form input[type=search]:hover {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  padding: 1.5rem 2.25rem;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3.125rem;
          border-radius: 3.125rem;
  height: auto; }

.search-form input:-moz-placeholder {
  color: #756200; }

.search-form input::-webkit-input-placeholder {
  color: #756200; }

/*style for chart container*/
.each-chart-section {
  padding: 45px 45px 25px;
  background: #f7f7f7; }
  .each-chart-section .section-header h3 {
    width: -webkit-calc(100% - 145px);
    width: calc(100% - 145px);
    float: left;
    font-size: 16px;
    color: #484848;
    font-family: Ubuntu-bold;
    margin-bottom: 25px; }
  .each-chart-section .section-header .right-section {
    width: 145px; }
    .each-chart-section .section-header .right-section select {
      margin-bottom: 0;
      -webkit-border-radius: 15px;
              border-radius: 15px;
      border: solid 1px #484848;
      padding: 4px 12px;
      font-size: 14px;
      line-height: 20px;
      color: #484848;
      color: #484848;
      height: auto;
      font-weight: normal;
      font-family: ubunto-regular; }

.chart-section-wrap .inner-wrap:nth-child(odd) .each-chart-section:nth-child(odd) {
  background: #F1F1F1; }

@media (min-width: 40em) {
  .chart-section-wrap .inner-wrap:nth-child(even) .each-chart-section:nth-child(even) {
    background: #F1F1F1; } }

@media (max-width: 40em) {
  .chart-section-wrap .inner-wrap:nth-child(even) .each-chart-section:nth-child(odd) {
    background: #F1F1F1; } }

.section-header {
  font-size: 16px;
  color: #484848;
  font-family: Ubuntu-bold; }

/* -------- style for chart section ----------- */
.chart-section-wrap {
  margin-bottom: 50px; }
  .chart-section-wrap ul.breadcrumbs {
    margin-bottom: 0; }
  .chart-section-wrap .breadcrumbs li:not(:last-child)::after {
    content: none; }
  .chart-section-wrap .breadcrumbs li {
    font-size: 16px;
    color: #484848;
    font-family: Ubuntu-bold;
    text-transform: capitalize;
    margin-bottom: 25px; }

.indicator {
  color: #5A5A5A;
  position: relative;
  padding-left: 10px;
  color: #5A5A5A;
  margin-right: 15px; }
  .indicator:before {
    content: " ";
    position: absolute;
    top: 6px;
    left: 0;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 50%;
            border-radius: 50%; }

.tender:before {
  background-color: #0042B1; }

.contracts:before {
  background-color: #CE0029; }

.axis path, .axis line {
  fill: none;
  stroke: lightgrey;
  shape-rendering: crispEdges; }

.axis text {
  font-family: Lato;
  font-size: 13px; }

.line {
  stroke: #993300;
  fill: none;
  stroke-width: 0.75px; }

.line.line5 {
  stroke: red; }

.grid .tick {
  stroke: lightgrey;
  opacity: 0.7; }

.grid {
  stroke-width: 0.4px; }

.top {
  z-index: 1000; }

.chart rect, rect {
  fill: #cebbaa;
  cursor: pointer; }

.chart text {
  fill: #484848;
  font-size: 14px;
  cursor: pointer; }

@media (max-width: 75rem) {
  header.top-bar {
    padding-left: 20px;
    padding-right: 20px; } }

@media (max-width: 39.9375em) {
  html {
    font-size: 80%; }
  /* ---------- navigation responsive --------- */
  .burger-menu-button {
    display: block; }
  #main-menu .menu {
    display: none;
    clear: both;
    overflow: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 100%;
    text-align: center;
    background-color: #005AF5; }
    #main-menu .menu li {
      display: block;
      float: left;
      width: 50%; }
      #main-menu .menu li a {
        padding: 1.5rem 1rem;
        color: #fff; }
        #main-menu .menu li a:hover {
          background: #004BCC; }
  /* ------- responsive for banner section ------ */
  .each-chart-section {
    padding: 20px 20px; }
    .each-chart-section .section-header, .each-chart-section .chart-wrap {
      height: auto !important; } }

/*# sourceMappingURL=maps/app.css.map */
