@import "pages/default";
@import "pages/layout";
@import "pages/home-page";
@import "pages/chart-page";
@import "pages/range-slider";
@import "pages/datatable";
@import "pages/tabs";
@import "pages/detail";
@import "pages/form";
@import "pages/search-page";
@import "pages/one-pager";
@import "pages/modal";
@import "pages/error-page";
@import "pages/responsive";
@import "pages/animation";
@import "pages/wiki";
@import "pages/dashboard";
@import "pages/downloads";
@import "pages/advance-filter";

