@import "pages/default";
@import "pages/layout";
@import "pages/home-page";
@import "pages/chart-page";
@import "pages/datatable";
@import "pages/tabs";
@import "pages/detail";
@import "pages/form";
@import "pages/search-page";
@import "pages/one-pager";
@import "pages/responsive";
@import "pages/animation";
